@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body{font-size: 14px;min-width: 320px;position: relative;line-height: 1.75;font-family: "Roboto", sans-serif;font-weight: normal;opacity: 1;overflow-x: hidden;overflow-y: auto;
    color: #000;margin: 0}
ul {padding-left: 0;margin: 0;}

.np-right {padding-right: 0;}
.np-left {padding-left: 0;}
.np {padding: 0;}

.text-center {text-align: center}.text-left {text-align: left}.text-right {text-align: right}

.my-help-block {padding: 10px 0; margin: 0;}
.my-help-block .login, .my-help-block .signup {display: inline-block;margin-left: 19px;}
.my-help-block .login a, .my-help-block .signup a{color: #818181;text-decoration: none;position: relative;top: 2px;font-size: 13px;}
.my-help-block .help, .my-help-block .login-buttons {display: inline-block;margin-right: 19px;position: relative;}
.my-help-block .help a, .my-help-block .login-buttons a{color: #818181;text-decoration: none;position: relative;padding: 10px;font-size: 13px;}
.my-help-block .help:hover .wrapper-drop, .my-help-block .login-buttons:hover .wrapper-drop{display: block;}
.my-help-block .help:hover::after, .my-help-block .login-buttons:hover::after {content: '';height: 3px;width: 59px;background-color: #52504f;position: absolute;
    left: 13px;right: 0;bottom: -7px;}

.help .wrapper-drop, .login-buttons .wrapper-drop {position: absolute;right: 0;top: 21px;padding-top: 13px;z-index: 10;display: none;}
.login-buttons .wrapper-drop {left: 0;}
.help-down {text-align: left;width: 200px;background-color: #fff;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.help-down a{color: #818181;text-decoration: none;display: block;}
.help-down a:hover{background-color: #f9f9f9}

.breadcrumb{margin-bottom: 0}

#container {position: fixed;top: 60px;left: 20px;z-index: 20000;display: none;}
#container button {border: none;outline: none;background-color: transparent; padding-top: 8px; padding-right: 8px; padding-left: 8px; padding-bottom: 3px;}
#container button span {background-color: #52504f;display: block;width: 40px;border-radius: 50px;height: 3px;margin-bottom: 5px;}

.nav {padding-top: 15px;}
.nav .logo img {max-width:190px; width: 100%;}
.nav .menu {margin-top: 20px;}
.nav .menu .non-processed{
    margin-left: 90%; margin-top: 0; width: 1.5em; height: 1.5em; z-index: 9;
    background: #FA8072; color: #fff; text-align: center; border-radius: 50%;
    line-height: 1.5em; box-sizing: content-box;
}
.nav .menu ul {margin-top: 8px;padding-bottom: 20px;position: relative;}
.nav .menu ul li {display: inline-block;padding-right: 22px; padding-bottom: 25px; line-height: 15px}
.nav .menu ul li .drop {position: absolute;width: 725px;z-index: 10;left: 0;right: 0;margin: 0 auto;padding-top: 25px;display: none;}
.nav .menu ul li .drop .items{background-color: #fdfdfd;width: 100%;overflow: hidden;padding-top: 20px;
    padding-bottom: 7px;padding-left: 30px;padding-right: 0;}
.nav .menu ul li:first-child:hover .drop{display: block;}
.nav .menu ul li:last-child {padding-right: 0;}
.nav .menu ul li a{color: #52504f;font-size: 15px;text-decoration: none;position: relative;}
.nav .menu ul li:hover a::after, .nav .menu .active a::after{content: '';height: 4px;width: 100%;background-color: #52504f;position: absolute;left: 0;right: 0;bottom: -25px;}

.nav .menu .items .name {text-transform: uppercase;font-size: 13px;color: #52504f;font-weight: 500;padding-bottom: 10px;}
.nav .menu .items ul {margin: 0;padding-bottom: 0}
.nav .menu .items ul li {display: block;}
.nav .menu .items .li-name ul li {display: block;list-style: none;padding-bottom: 13px;}
.nav .menu .items ul li a{font-size: 12px;color: #747474}
.nav .menu .items ul li a::after{content: none;}
.nav .menu .items ul li a:hover{color: #c9923d}

.jumbotron .row ul {margin-left: 20px; margin-top: 40px;}

.jumbotron .row li { list-style: none; margin-bottom: 15px; float: left; margin-right: 40px; padding-bottom: 20px;}
.jumbotron .row li a{ font-size: 16px; color: #000; font-weight: 400;}

.footer {background-color: #413d38;padding-top: 30px;padding-bottom: 10px;}
.footer .content {overflow: hidden;}
.footer .content .item {padding-left: 80px;}
.footer .title{color: #fff;font-weight: 500;font-size: 14px;margin-bottom: 15px;}
.footer .info{color: #fff;font-size: 14px;margin-bottom: 15px;}
.footer .info a{color: #fff;text-decoration: none;}
.footer .info a:hover{color: #c9923d;}
.footer .menu ul li {list-style: none;margin-bottom: 15px;}
.footer .menu ul li a{font-size: 14px;color: #fff; text-decoration: none;}
.footer .menu ul li a:hover{color: #c9923d;}
.footer .socials {margin-bottom: 15px;}
.footer .socials ul li {display: inline-block;padding-right: 18px;}
.footer .socials ul li img:hover{filter: invert(0.5) sepia(1) saturate(5);}
.footer .socials ul li:last-child {padding-right: 0;}
.footer .separator {display: none;}
.footer .seo-text {color: #aea8a1;margin-top: 10px;margin-bottom: 30px;padding-right: 100px;}

.mfp-close img {width: 14px;}

.multiselect-native-select {display: block;}

@media (min-width: 1400px){
    .container {width: 1340px;}
}

@media only screen and (max-width:1399px){
    /*.nav .menu .non-processed{margin-left: 5em;}*/
    .footer .seo-text {padding-right: 15px;}
}

@media only screen and (max-width:1199px){
    .nav .menu ul li a {font-size: 14px;}
    /*.nav .menu .non-processed{margin-left: 6em;}*/
    .footer .content .item {padding-left: 15px;}
    .footer .seo-text {padding-right: 65px;}
}

@media only screen and (max-width:991px){
    .nav .logo {text-align: right;}
    .nav .menu {display: none;}
    #container {display: block;}
    .footer .separator {display: block;}
}

@media only screen and (max-width:768px){
    .nav .logo {text-align: right;margin-bottom: 15px;}
    .footer .content {text-align: center;}
    .footer .seo-text {padding-right: 15px;}
}
