div.image-zoom { float: left; }
div.image-zoom div { background-repeat: no-repeat; background-size: 100% 100%;}
div.image-zoom div.blur > div { background-position: -3px 0; }
div.image-zoom div.blur > div > div { background-position: 0 -3px; }
div.image-zoom div.blur > div > div > div { background-position: 3px 0; }
div.image-zoom div.blur > div > div > div > div { background-position: 0 3px; }
div.image-zoom div.box { border-width: 4px; display: none; position: relative; }
div.image-zoom div.popup { border-width: 0; display: none; float: left; position: relative; background-size: 200% 200%;}
div.image-zoom div.thumbnail { border-width: 0; cursor: move; float: left; margin-bottom: 0; background-size: 100% 100%;}
div.image-zoom.inner div.popup { margin: -4px 0 0 -4px; }
