.wrapper-white {background-color: #f4f4f4;}

.wrapper-head {min-height: 376px;width: 100%;background-image: url("../img/articles.jpg");background-repeat: no-repeat;background-position: center center;
    background-size: cover}
.wrapper-head .title {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    margin-top: 165px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #232323;
}

.items-wrapper {
    max-width: 885px;
    margin: 35px auto 0;
}

.items-wrapper .item:last-child {margin-bottom: 0;}

.items-wrapper .item .image {
    display: inline-block;
    float: left;
    min-width: 166px;
}

.items-wrapper .item .image img {
    border-radius: 6px;
    width: 200px;
    cursor: pointer;
}

.items-wrapper .item {
    margin-bottom: 40px;
    overflow: hidden;
}

.items-wrapper .item .content {
    display: inline-block;
    float: left;
    max-width: 690px;
}

.items-wrapper .item .content .date {
    font-size: 14px;
    color: #676767;
}

.items-wrapper .item .content a {
    text-decoration: none;
}

.items-wrapper .item .content a:hover p, .items-wrapper .item .content a:hover h4 {
    color: #c9923d;
}

.items-wrapper .item .content h4 {
    font-size: 16px;
    font-weight: bold;
    color: #232323;
    margin: 0 0 5px;
    line-height: 20px;
}

.items-wrapper .item .content p {
    font-size: 16px;
    color: #232323;
    margin: 0;
    line-height: 24px;
    padding-left: 20px;
}

.item-content {max-width: 890px;margin: 0 auto;}
.item-content .preview-image img {width: 100%;}
.item-content .date {font-size: 14px;color: #9b9b9b;margin-top: 20px;}
.item-content h1 {font-size: 18px;font-weight: bold;color: #4a4a4a;margin: 20px 0 0;}
.item-content .content {margin-top: 20px;color: #232323;}
.other-title {text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;}

.my-pagination {padding: 0 15px; padding-bottom: 40px;}
.my-pagination li {display: inline-block;}
.my-pagination li a{font-weight: 400;font-size: 15px;color: #5c5c5c;cursor: pointer;padding: 12px 18px;text-decoration: none;}
.my-pagination .active a{background-color: #fff;}
.my-pagination li a:hover {background-color: #fff;}
.my-pagination .next img{width: 6px; margin-bottom: 5px;}
.my-pagination {text-align: center;}

@media only screen and (max-width: 991px){
    .items-wrapper .item .content {
        max-width: 530px;
        max-height: 115px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 767px){
    .items-wrapper .item .image {
        display: block;
        text-align: center;
        float: initial;
    }

    .items-wrapper .item .content {
        text-align: center;
        float: initial;
        max-width: initial;
        margin-top: 15px;
    }
}
