.main-block {background-color: #f4f4f4;}
.main-block .content { padding-bottom: 55px; margin-top: 50px; margin-bottom: 50px; width: 80%; left: 10%; background-color: #fff; position: relative; display: inline-block;}
.callback {position: relative; margin-left: 60px; margin-right: 60px; font-size: 16px; font-weight: 400; color: #4e4e4e; line-height: 2;}
.callback-head{font-size: 19px;font-weight: 500;color: #4e4e4e; position: relative; margin-left: 60px; margin-top: 60px; margin-bottom: 30px;}

.callback-buttons{position: relative; margin:60px;}
.callback-button{position: relative; text-align: center;}
.callback-button a{white-space: nowrap; cursor:pointer; font-size: 17px; color: #5d5b5a;  font-weight: 500; background-color: #ffffff;border: 2px solid #efefef; box-sizing: border-box;  padding: 30px 0px; 
    line-height: 13px;text-decoration: none; border-radius: 3px; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2); }
.callback-button a:hover{color: #c9923d; text-decoration: none !important; border:2px solid #c9923d;}
.callback-buttons img{height: 30px; margin-right: 20px;}

@media only screen and (max-width:991px){
	.main-block {padding-top: 50px;}
	.callback {font-size: 15px;}
	.callback-head{font-size: 17px; text-align: center; margin-left: 0;}
    .callback-button a{font-size: 15px;}
}

@media only screen and (max-width:768px){
	.callback {font-size: 14px;}
}

@media only screen and (max-width:650px){
	.main-block {padding-top: 100px;}
}

@media only screen and (max-width:600px){
	.callback {margin-left: 50px; margin-right: 30px;}
	.callback-buttons{margin-left: 20px; margin-right: 20px;}
	.callback-buttons a{white-space: pre-line;}
}
