.help-block .cart-popup {display: none;}

.mfp-content{height: 100%;}
#cart-popup-modal {border-radius: 3px;background: #fff;position: relative;max-width: 400px;margin-left: auto; 
	padding: 5px;padding-top: 20px;padding-bottom: 30px;width: 100%; min-height: 100%;text-align: center;}

#cart-popup-modal .content-cart {position: relative; min-height: 150px; padding-bottom: 15px; margin-top: 30px;max-width: 350px; left: 10%; background-color: #fff; }
#cart-popup-modal .content-cart .empty-cart{font-size: 22px;font-weight: 500;color: #4e4e4e; padding: 50px;}
#cart-popup-modal .product {margin-bottom: 110px; top: 30px; position: relative; padding-bottom: 15px; }
#cart-popup-modal .mfp-close {right:20px; top: 35px;}

/*#cart-popup-modal .line-block {line-height: 60px; float:left; margin: 0; font-weight: 400;font-size: 15px;color: #5c5c5c;}*/
/*#cart-popup-modal .line-block img{cursor: pointer; }*/
/*#cart-popup-modal .first-block {position: relative;}*/
/*#cart-popup-modal .first-block .remove-product-img{width: 10px; position: absolute; top: 25px; left: -25px;}*/
/*#cart-popup-modal .first-block .product-img{width: 60px; position: relative; object-fit: cover;}*/
/*#cart-popup-modal .first-block .line-block .product-name{max-width: 250px; line-height: 20px; margin-bottom: 5px; margin-top: 10px; margin-left: 35px;}*/
/*#cart-popup-modal .first-block .line-block .product-name a{color: #5c5c5c;}*/
/*#cart-popup-modal .first-block .img-frame {width: 60px; height: 75px; margin-top: -5px; border: 1px solid #c9923d; position: absolute; z-index: 999;}*/
/*#cart-popup-modal .second-block {position: relative; margin-left: 75px;float:left;}*/
/*#cart-popup-modal .second-block .line-block{line-height: 20px;}*/
/*#cart-popup-modal .second-block .line-block img{width: 10px;}*/
/*#cart-popup-modal .second-block .change {float:left; margin-right: 60px; }*/
/*#cart-popup-modal .second-block .line-block {margin: 0 5px 0 0; }*/
/*#cart-popup-modal .line-block .price {color: #c9923d; font-weight: 500; width: 40px; text-align: center;}*/

#cart-popup-modal .products{margin-top: 30px;}
#cart-popup-modal .product{margin-bottom: 10px; width: 100%; min-height: 80px; font-weight: 400; color: #818181; padding: 0;}
#cart-popup-modal .product img{cursor: pointer;}
#cart-popup-modal .remove-product-img{width: 10px; margin-top: 35px; margin-left: -30px; float: left;}
#cart-popup-modal .product-img{width: 55px; max-height: 65px; height: 40px; margin-top: 20px; margin-left: -57px; z-index: 5; object-fit: cover;}
#cart-popup-modal .img-frame {float: left; width: 60px; height: 70px; border: 1px solid #c9923d; margin-top: 5px;  margin-left: 0; background-color: #fff; z-index: 2;}
#cart-popup-modal .product-name{margin-top: 30px;  margin-left: 15px; line-height: 20px; display: inline-block; vertical-align: middle;}
#cart-popup-modal .product-name a{color: #5c5c5c;}

#cart-popup-modal .col-lg-2, #cart-popup-modal .col-lg-3, #cart-popup-modal .col-lg-5, #cart-popup-modal .col-lg-6{padding-left: 0; padding-right: 0;}

#cart-popup-modal .product-weight{top: 20px; margin-right: 5px; position: relative;}
#cart-popup-modal .arrow{margin-top: 35px; margin-right: 5px; width: 12px; z-index: 100;}
#cart-popup-modal .product .price{margin-top: 30px; margin-right: 45px; color: #c9923d;}
#cart-popup-modal .product .price s{color: #5c5c5c;}
#cart-popup-modal .scratbox:hover{background-color: #efefef;}
#cart-popup-modal .scratbox-header-popup{position:relative; width: 100%; height: 100%; cursor: pointer; padding: 0;}
#cart-popup-modal .scratbox-options{display: none; margin: 5px 0 0 0; padding: 0; background-color: #f9f9f9;}

#cart-popup-modal .option{width:100%; height: 80px;}
#cart-popup-modal .option .cell{margin-top: 25px; margin-left: 5px; color: #c9923d;}
#cart-popup-modal .option .img-frame {margin-left: 30px;}
#cart-popup-modal .option .product-name {margin-left: 0; margin-top: 25px;}
#cart-popup-modal .option .product-weight{top: 25px;}
#cart-popup-modal .option .price{margin-top: 25px; margin-right: 15px;}

#cart-popup-modal .overall {position: absolute;  margin-top: 50px; bottom: 150px; width: 90%; left:10%; text-align: left;}
#cart-popup-modal .overall-label{font-size: 17px;font-weight: 500;color: #4e4e4e; position: relative; margin-left: 10px;}
#cart-popup-modal .overall-sum{font-size: 17px;font-weight: 500;color: #4e4e4e; position: relative; left:60%;}
#cart-popup-modal .cart-header{font-size: 17px;font-weight: 500;color: #4e4e4e; text-align:left;}

#cart-popup-modal .purchase, #cart-popup-modal .check-cart{position: absolute; bottom: 50px; width: 330px; left:10%;}
#cart-popup-modal .purchase a, #cart-popup-modal .check-cart a{position: relative; width: 100%; color: #f9f9f9; background-color: #5d5b5a;  padding: 10px 100px;}
#cart-popup-modal .purchase:hover a, #cart-popup-modal .check-cart:hover a{background-color: #4a4a4a; color: #f9f9f9;}

#cart-popup-modal .check-cart{bottom: 100px;}
#cart-popup-modal .check-cart a{padding: 10px 86px;}

#cart-popup-modal .clear-cart {position: absolute; width: 330px; left:10%; bottom: 10px;}
#cart-popup-modal .clear-cart a{position: relative; width: 100%; color: #5d5b5a;}

@media only screen and (max-width:991px){
	#cart-popup-modal .product div:not(.imgs){text-align: center;}
	#cart-popup-modal .product .price{margin-top: 10px; margin-right: 0;}
	#cart-popup-modal .remove-product-img{margin-left: 37%}
	#cart-popup-modal .product{min-height: 200px;}
	#cart-popup-modal .product-weight, #cart-popup-modal .option .product-weight{top: 7px;}
	#cart-popup-modal .arrow{margin-top: 10px;}
	#cart-popup-modal .option .price{margin-bottom: 30px;}
	#cart-popup-modal .option .cell{margin-left: 0;}
	#cart-popup-modal .option .product-name, #cart-popup-modal .option .cell, #cart-popup-modal .option .product-weight, #cart-popup-modal .option .price{margin-top: 10px;}
	#cart-popup-modal .option .product-name, #cart-popup-modal .product-name{margin-left: 0;}
}

@media only screen and (max-width:500px){
	#cart-popup-modal {max-width: 300px;}
	#cart-popup-modal .product {margin-bottom: 50px; margin-left: 0;}
	#cart-popup-modal .first-block .line-block .product-name{margin-top: 0;}
	#cart-popup-modal .content-cart {left: 0;}
	#cart-popup-modal .second-block {margin-left: 45px;}
	#cart-popup-modal .second-block .change { margin-right: 25px; }
	#cart-popup-modal .overall {left:3%;}
	#cart-popup-modal .overall-label{margin-left: 7px;}
	#cart-popup-modal .cart-header {margin-left: 20px;}

	#cart-popup-modal .purchase{width: 280px; left:1%;}
	#cart-popup-modal .purchase a{padding: 10px 75px;}

	#cart-popup-modal .check-cart{width: 280px; left:1%;}
	#cart-popup-modal .check-cart a{padding: 10px 60px;}

	#cart-popup-modal .clear-cart {width: 280px; left:1%;}
}