.main-block {background-color: #f4f4f4; min-height: 450px; position: relative;}
.main-block .container {display: inline-block;}
.main-block .content {position: absolute; min-height: 350px; padding-bottom: 15px; margin-top: 30px;width: 70%;-webkit-transform: translate(20%, 0%);-ms-transform: translate(20%, 0%);
    transform: translate(20%, 0%); background-color: #fff;}
.main-block .content .empty-cart{font-size: 23px;font-weight: 500;color: #4e4e4e; margin-top: 120px; text-align: center;}
.main-block .content .empty-cart .go-on{margin-top: 20px;}
.main-block .content .empty-cart a{color: #337ab7; text-decoration: none;}
.main-block .content .empty-cart a:hover{color: #c9923d;}
.main-block .buttons {position: absolute; bottom: 5%; right: 16%; display: inline-block; margin-bottom: 30px;}
.main-block .buttons a{position: relative; width: 100%;}
.continue, .purchase {float:left;width: 240px;}
.continue a{color: #5d5b5a;background-color: #f9f9f9;border: 2px solid #efefef; padding: 10px 40px;}
.continue:hover a{background-color: #f2f2f2; color: #5d5b5a;}
.purchase a{color: #f9f9f9; background-color: #5d5b5a; margin-left: 10px; padding: 10px 58px;}
.purchase:hover a{background-color: #4a4a4a; color: #f9f9f9;}
.line-block {line-height: 60px;float:left; margin: 0 20px 0 0; font-weight: 400;font-size: 15px;color: #5c5c5c;}

.products{margin-top: 30px;}
.product{margin-bottom: 10px; width: 100%; min-height: 80px; font-weight: 400; color: #818181; padding: 0;}
.product img{cursor: pointer;}
.remove-product-img{width: 10px; margin-top: 35px; margin-left: 30px; float: left;}
.product-img{width: 55px; max-height: 65px; height: 40px; margin-top: 20px; margin-left: -57px; z-index: 5; object-fit: cover;}
.img-frame {float: left; width: 60px; height: 70px; border: 1px solid #c9923d; margin-top: 5px;  margin-left: 20px; background-color: #fff; z-index: 2;}
.product-name{margin-top: 30px;  margin-left: 15px; line-height: 20px; display: inline-block; vertical-align: middle;}
.product-name a{color: #5c5c5c;}

.product-weight{top: 20px; margin-right: 15px; position: relative;}
.arrow{margin-top: 35px; margin-right: 15px; width: 12px; z-index: 100;}
.product .price{margin-top: 30px; margin-right: 45px; color: #c9923d;}
.product .price s{color: #5c5c5c;}
.scratbox:hover{background-color: #efefef;}
.scratbox-header{position:relative; width: 100%; height: 100%; cursor: pointer; padding: 0;}
.scratbox-options{display: none; margin: 5px 0 0 0; padding: 20px 30px 20px 30px; background-color: #f9f9f9;}

.option{width:100%; height: 80px;}
.option .cell{margin-top: 25px; margin-left: 30px; color: #c9923d;}
.option .img-frame {margin-left: 30px;}
.option .product-name {margin-left: 0; margin-top: 25px;}
.option .product-weight{top: 25px;}
.option .price{margin-top: 25px; margin-right: 15px;}

.overall {position: relative; padding-bottom: 40px; top: 20px; padding-left: 0; padding-right: 0;}
.overall div{padding: 0;}
.overall-label, .overall-sum {font-size: 17px; font-weight: 500;color: #4e4e4e; position: relative; text-align: right;}
.overall-label{text-align: left;}
.overall-label span{padding-left: 75px;}
.overall-sum span{padding-right: 60px;}

.cart-header{font-size: 17px;font-weight: 500;color: #4e4e4e; padding: 30px 75px; }

.overall .clear-cart {position: relative; width: 100%;  padding-top: 50px;}
.clear-cart a{ width: 100%; color: #5d5b5a; padding-right: 60px;}

/*.clear-cart {position: relative; width: 100%; margin-top: 20px; padding-right: 60px;}*/
/*.clear-cart a{ width: 100%; color: #5d5b5a;}*/

@media only screen and (max-width:1320px){
    .remove-product-img{margin-left: 10px;}
    .option{height: 90px; padding-left: 10px; padding-right: 10px;}
    .scratbox-options, .col-lg-2, .col-lg-6{padding-left: 0; padding-right: 0;}
    .product-weight{margin-right: 5px;}
    .option .product-name{margin-left: 10px;}
    .product-name{margin-top: 25px;}
    .arrow{margin-right: 5px;}
    .product .price{margin-right: 60px;}
    .overall-label span, .cart-header{padding-left: 40px;}

}


@media only screen and (max-width:991px){
    .main-block {min-height: 450px; padding-top: 50px;}

    .main-block .content{min-height: 260px;}
    .main-block .product { position: relative; padding-bottom: 15px;}
    .overall-label span, .cart-header{padding-left: 75px;}

    .overall-label{text-align: right;}
    .overall-sum {text-align: left;}
    .overall-sum span{padding-left: 20px;}
    .overall {text-align: center;}
    .main-block .buttons {left: 23%;  bottom: 3%;}

    .product div:not(.imgs){text-align: center;}
    .product .price{margin-top: 10px; margin-right: 0;}
    .remove-product-img{margin-left: calc(50% - 60px);}
    .option .img-frame{margin-left: calc(50% - 30px);}
    .product{min-height: 200px;}
    .product-weight, .option .product-weight{top: 7px;}
    .arrow{margin-top: 10px;}
    .option .price{margin-bottom: 30px;}
    .option .cell{margin-left: 0;}
    .option .product-name, .option .cell, .option .product-weight, .option .price{margin-top: 10px;}
    .option .product-name, .product-name{margin-left: 0;}
    .main-block .content .cart-header{margin-left: 0; text-align: center;}

    .clear-cart {text-align: center;}
    .clear-cart a{padding-right: 0;}
}

@media only screen and (max-width:850px){
    .main-block .buttons {left: 50%; bottom: 0; margin-left: -110px;}
    .continue {float: none;}
    .purchase {margin-top: 30px;}
    .purchase a{margin-left: 0;}

}

@media only screen and (max-width:650px){
    .main-block {padding-top: 100px;}
}
