.main-block {background-color: #f4f4f4; min-height: 1100px; position: relative;}
.main-block .container {display: inline-block;}
.main-block .content {position: absolute; min-height: 900px; padding-bottom: 15px; margin-top: 30px;width:55%; left: 5%; background-color: #fff;}
.main-block .content-cart {position: absolute; min-height: 350px; padding-bottom: 15px; margin-top: 30px;width: 400px; right: 5%; background-color: #fff; }
.main-block .content-cart .empty-cart{font-size: 22px;font-weight: 500;color: #4e4e4e; padding: 50px; text-align: center;}
.main-block .product {margin-bottom: 120px; top: 60px; position: relative; padding-bottom: 15px; }

.line-block {line-height: 60px;float:left; margin: 0 20px 0 0; font-weight: 400;font-size: 15px;color: #5c5c5c;}
.line-block img{cursor: pointer; }
.first-block {position: relative; left: 10%;}
.first-block .remove-product-img{width: 10px; position: absolute; top: 15px; right: 70px;}
.first-block .product-img{width: 60px; position: relative; object-fit: cover;}
.first-block .product-name{max-width: 250px; line-height: 20px; margin-bottom: 5px; margin-top: 10px;}
.first-block .product-name a{color: #5c5c5c;}
.first-block .img-frame {width: 60px; height: 75px; margin-top: -5px; border: 1px solid #c9923d; position: absolute; z-index: 999;}
.second-block {position: relative; margin-left: 75px;float:left;}
.second-block .line-block{line-height: 20px;}
.second-block .line-block img{width: 10px;}
.second-block .change {float:left; margin-right: 100px; }
.second-block .line-block {margin: 0 5px 0 0; }
.line-block .price {color: #c9923d; font-weight: 500; width: 40px; text-align: center;}
.line-block .price s {color: #5c5c5c;}
.line-block .price-special {margin-left: 40px;}

.delivery-cost {position: relative; padding-bottom: 30px; top: 20px; font-size: 16px;}
.delivery-cost-sum{position: absolute; right: 30px; color: #c9923d; font-weight: 500;}
.delivery-cost-label{padding: 30px 40px; position: relative; color: #5c5c5c;}

.overall {position: relative; padding-bottom: 20px; top: 20px;}
.overall-sum, .checkout-header-step{font-size: 17px;font-weight: 500;color: #4e4e4e; position: absolute; right: 30px;}
.overall-label, .checkout-header-label{font-size: 17px;font-weight: 500;color: #4e4e4e; padding: 30px 40px; position: relative;}

.checkout-header-label, .checkout-header-step {font-size: 19px;}
.checkout-header-step {top: 0;}
.checkout-header {position: relative; top:40px;}
#checkout-main-form {position: relative; top: 80px; left: 20px;}
.label-input span{font-size: 18px;font-weight: 400;color: #4e4e4e; line-height: normal;}
.label-input{min-height: 120px;}
.inputs{position: relative; width:90%; padding: 0; margin-left: 15px;}
.form-input{position: relative;}
.main-block input {width: 100%;margin-bottom: 0;border-radius: 3px;border: 1px solid #f3f3f3;padding: 5px 15px;}
.main-block input:focus {outline: none !important;border:1px solid #c9923d;}

.promo-buttons{margin-top: 30px;}
.promo {position: relative; bottom: 2%; left: 60%;  margin-bottom: 30px; width: 240px;}
.promo a{color: #f9f9f9; background-color: #5d5b5a; margin-left: 10px; padding: 9px 20px; position: relative; width: 100%;}
.promo:hover a{background-color: #4a4a4a; color: #f9f9f9;}
.promo-input {position: absolute; margin-top: -5px; margin-left: 40px; }
.promo-input input {width: 180px; height: 35px;}
.users-points {color: #5c5c5c; text-align: center; padding-left: 40px; padding-right: 40px; margin-top: 30px;}
.change-points {color: #5c5c5c; text-align: center; position: relative; left:50%; margin-left: -70px; display: inline-block;}
.change-points .line-block { line-height: 30px;}
.change-points .line-block img { width: 10px; cursor: pointer;}
.promo-used {color: #5c5c5c; text-align: center;}
.promo-used a {color: #5c5c5c; text-align: center; font-size: 12px; text-decoration: none;}
.promo-used a:hover {color: #c9923d;}

.clear-cart {position: relative; width: 100%; padding-top: 20px; text-align: center;}
.clear-cart a{ width: 100%; color: #5d5b5a;}

.delivery {position: relative; width: 90%; padding: 0; margin-left: 15px; margin-bottom: 20px;}
.delivery span{font-size: 18px;font-weight: 400;color: #4e4e4e; padding: 20px 0; position: relative;}
.delivery-type-buttons{position: relative; margin-top:20px;  padding: 0;}
.delivery-type-button{position: relative; text-align: center;}
.delivery-type-button a{white-space: nowrap; cursor:pointer;  font-size: 13px;background-color: #ffffff;border: 2px solid #efefef; box-sizing: border-box;  padding: 20px 0px;
    line-height: 13px;text-decoration: none; border-radius: 3px; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2);}
.delivery-type-button a:hover{color: #c9923d; text-decoration: none !important; border:2px solid #c9923d;}
.delivery-type-button-not-selected a{color: #5d5b5a; border:2px solid #efefef;}
.delivery-type-button-selected a{color: #c9923d; border:2px solid #c9923d;}

.delivery-type {position: relative;}
.delivery-type span{font-size: 18px; font-weight: 400; color: #4e4e4e; padding: 20px 0; position: relative;}
#order-delivery_date-kvdate{padding: 0;}
.field-order-delivery_date{margin: 0;}
.field-order-delivery_date button{border-width: 0; padding: 0;}
/*#delivery_date:active {border-width: 0;}*/
.field-order-delivery_date .help-block{margin: 0;}
.datepicker{margin-top: 57px;}

.delivery-time-buttons{position: relative; margin-top:20px;  padding: 0;}
.delivery-time-button{position: relative; text-align: center; padding: 0;}
.delivery-time-button a{white-space: nowrap; cursor:pointer;  font-size: 13px;background-color: #ffffff;border: 2px solid #efefef; box-sizing: border-box;  padding: 20px 0;
    line-height: 13px;text-decoration: none; border-radius: 3px; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2);}
.delivery-time-button a:hover{color: #c9923d; text-decoration: none !important; border:2px solid #c9923d;}
.delivery-time-button-not-selected a{color: #5d5b5a; border:2px solid #efefef;}
.delivery-time-button-selected a{color: #c9923d; border:2px solid #c9923d;}

.disabled {
    pointer-events:none;
    opacity:0.4;
}

.delivery-time-button img{width: 10px; margin-left: 10px;}

.order_index {max-height: 80px;}
.payment-type {position: relative; width: 90%; margin: 0 15px 0; padding: 0;}
.payment-type span{font-size: 18px;font-weight: 400;color: #4e4e4e; padding: 20px 15px; position: relative;}

.payment-type-buttons{position: relative; margin-top:20px; margin-left: 0;}
.payment-type-button{position: relative; text-align: center;}
.payment-type-button a{white-space: nowrap; cursor:pointer;  font-size: 13px;background-color: #ffffff;border: 2px solid #efefef; box-sizing: border-box;  padding: 20px 0;
    line-height: 13px;text-decoration: none; border-radius: 3px; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2);}
.payment-type-button a:hover{color: #c9923d; text-decoration: none !important; border:2px solid #c9923d;}
.payment-type-button-not-selected a{color: #5d5b5a; border:2px solid #efefef;}
.payment-type-button-selected a{color: #c9923d; border:2px solid #c9923d;}

.payment-type-button a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}

.comment {position: relative; left:0; margin-right: 110px; margin-top: 30px;}
.comment .textarea-div{position:relative; width:100%;}
.comment span{font-size: 18px;font-weight: 400;color: #4e4e4e; padding: 20px 15px; position: relative;}
.comment textarea{position:relative; width: 90%;  margin-left:15px; margin-top:20px; resize: none; outline: none; -moz-appearance: none; border: 0; background-color: #F0F0F0;}

.purchase {position: absolute; top: 1000px; right: 40%; display: inline-block; margin-bottom: 30px; float:left;}
.purchase a{position: relative; width: 100%;color: #f9f9f9; background-color: #5d5b5a; margin-left: 10px; padding: 10px 58px;}
.purchase:hover a{background-color: #4a4a4a; color: #f9f9f9;}

#points-count {padding: 0; max-width: 80px; text-align: center;}

@media only screen and (max-width:1199px){
	.main-block {min-height: 1700px; }
	.main-block .container {display: block;}
	.main-block .content {left: 20%; min-height: 1250px;}
	.main-block .content-cart {position: relative;left: 25%; margin-top: 1300px;}
	.purchase {position:relative; left: 35%; margin-top: 50px;top: 0;}
	.payment-type-button a{font-size: 14px;}
	input {width: 90%;}
    .delivery-time{margin-top: 30px;}
}

@media only screen and (max-width:991px){
	.main-block {min-height: 2160px; }
	.main-block .content {left: 20%; min-height: 1600px;}
	.main-block .content-cart {position: relative;left: 18%; margin-top: 1650px;}
	.purchase {position:relative; left: 30%; margin-top: 50px;}
	input {width: 93%}
	.payment-type-button a{font-size: 15px;}

}

@media only screen and (max-width:768px){
	.checkout-header{text-align: center; }
	.checkout-header-label{position: relative;font-size: 17px; }
	.checkout-header-step{position: relative; font-size: 17px;left:2%;}
	.main-block .content-cart {left: 20%; width: 60%; text-align: center;}
    .main-block .content{width: 60%;}
	.payment-type-button a{font-size: 14px;}
    .main-block .product{margin-bottom: 100px; text-align: center;}

    .line-block {float:none;} 
    .first-block {text-align: center; position: relative; left: 0;}
    .first-block .img-frame { margin-left: calc(50% - 40px);}
    .first-block .remove-product-img{top: 30px; left: 60%; }
    .first-block .product-name{max-width: 100%;}
    .second-block { margin-top: 0; position: relative; width: 100%; text-align: center;margin-left: 5px;}
    .second-block .change{ margin-right: 10px;float:none;padding-top: 20px; }
    .second-block .price{left: 10px;padding-top: 30px; margin-left: -70px;}
    .line-block .price-special {margin-left: -37px;}
    .choice{display: inline-block; margin-left:15px}
    .second-block .change:first-child{margin-left: 35%;}
    .second-block .line-block {float:left;margin: 0 5px 0 0;}
    .change-points {left: 0; margin-left: 20px; display: inline-flex;}

    .promo-buttons{margin-top: 30px; margin-bottom: 30px; text-align: center;}
    .promo-input {position: relative;  margin: auto; padding-bottom: 20px;}
    .promo {left:0;margin: auto; width:100%;}
    .promo a{margin-left: 0; padding: 9px 52px;}
    .purchase {width:100%;left:0; text-align: center;}

    .delivery-cost {top: 50px;}
    .delivery-cost-label {padding: 0;}
    .delivery-cost-sum {position: initial;}

    .users-points {margin-top: 70px;}

    .overall, .delivery-cost {text-align: center;}
    .overall-sum {position: relative; }
    .overall-label{ position: relative; margin-right: 20px;}
}

@media only screen and (max-width:500px){
    .checkout-header-label{ font-size: 18px;}
    .checkout-header-step{left:0; font-size: 18px;}
    .label-input span{font-size: 16px;}
    #checkout-main-form{left:0;}
    .main-block .content{ text-align: center; width:80%; left:10%;}
    .main-block .content-cart{ text-align: center; width:80%; left:10%;}
    .payment-type-buttons a, .delivery-type-buttons a, .delivery-time-button a{font-size: 16px;}
    .second-block .change:first-child{margin-left: 35%;}

    .comment {margin-right: 0;}
    .comment .textarea-div{position:relative; width:100%;}
    .comment textarea{margin-left:10px;margin-right:10px;width: 80%;}
}

@media only screen and (max-width:991px){
    .main-block {padding-top: 50px;}
}

@media only screen and (max-width:650px){
    .main-block {padding-top: 100px;}
}
