.main-block {min-height: 920px; }
.main-block .content {min-height: 600px;}
.purchase {top: 700px;}


@media only screen and (max-width:1200px){
	.main-block {min-height: 1460px; }
	.main-block .content {min-height: 600px;}
	.purchase {top: 0;}
	.main-block .content-cart {margin-top: 720px;}
}

@media only screen and (max-width:991px){
	.main-block {min-height: 1960px; }
	.main-block .content {min-height: 920px;}
	.main-block .content-cart {margin-top: 1020px;}

}

@media only screen and (max-width:768px){
    .main-block .content{min-height: 960px;}
}


