#map {width: 100%; height: 500px; margin: 50px 50px 50px 0;}
.ymaps-2-1-65-copyright__content, .ymaps-2-1-65-map-copyrights-promo, .gotoymaps{display:none;}
.popover-content {position: relative;border: none;background-color: #fdfdfd;color: #818181;font-size: 15px;padding: 3px;}
.popover-body .popover-content{display: flex; align-items: center; justify-content: center;}
.popover-body .popover-content:last-child{padding-bottom: 30px; border-radius: 0 0 10px 10px;}
.popover-head .popover-content:first-child{border-radius: 10px 10px 0 0;}
.popover-body .popover-content .shop-name {padding-top: 15px; color: #4e4e4e; font-weight: 500;}
.popover-content .popover-cancel {padding-top: 10px; padding-right: 15px; }
.popover-worktime {position: relative; display: inline-block; width: 45%; padding: 5px; margin-left: 25%; text-align: center; background-color: #FFBA37; color: #fdfdfd; font-size: 13px;}
.popover-cancel img {position: relative; float: right; width: 13px; height: 13px; margin-top: 5px; opacity: 1;}
.popover-cancel img:hover{opacity: 1;}
.popover-arrow:after {content: ''; border: 13px solid transparent; border-top: 13px solid #fdfdfd; position: absolute; margin-left: 100px;}

.main-block {background-color: #f4f4f4;}
.main-block .content { padding-bottom: 15px; margin-top: 50px; margin-bottom: 50px; width: 80%; left: 10%; background-color: #fff; position: relative; display: inline-block;}
.main-block .content .shops-inf{max-width: 300px;}
.main-block .content .shop-img{height: 150px; width: 80%; max-width: 250px;}

.main-block .content .arrows {width: 100%; position: absolute; margin-top: -280px; height: 20px;}
.main-block .content .next, .main-block .content .prev {cursor: pointer; position: relative;}
.main-block .content .next img, .main-block .content .prev img {width: 12px;}
.main-block .content .prev {margin-left: 10px; float: left;}
.main-block .content .next {margin-left: 240px;}

.main-block .content .inf{margin: 60px 0 60px 40px; color: #818181; text-align: left; display: none; }
.main-block .content .small-text{font-size: 12px;}

.main-block .content .socials {padding-left: 60px; padding-bottom: 30px; padding-right: 0;}
.main-block .content .socials ul li {display: inline-block;padding-right: 18px;}
.main-block .content .socials ul li img:hover{filter: invert(0.5) sepia(1) saturate(5);}
.main-block .content .socials ul li:last-child {padding-right: 0;}

@media only screen and (max-width:1199px) {
	.main-block .content .inf{margin-top: 100px; padding-right: 10px;}
	.main-block .content .next {margin-left: 220px;}
}

@media only screen and (max-width:991px){
	.main-block .content .shops-inf{left: 50%; max-width: 250px;	margin-left: -125px;}
	.main-block .content .inf{text-align: center; margin: 60px auto 0; padding-right: 0;}
	.main-block .content .shop-img {height: 150px; width: 100%;}

	.main-block .content .arrows {margin-top: -200px;}
	.main-block .content .prev {margin-left: 0;}
	.main-block .content .next {margin-left: 200px;}

	.main-block .content .socials {padding-left: 0; padding-bottom: 60px;}
	.main-block .content .socials ul {width: 180px; position: absolute; left: 50%; margin-left: -90px;}
}

@media only screen and (max-width:768px) {
	#map {height: 300px;}
}

@media only screen and (max-width:991px){
	.main-block {padding-top: 50px;}
}

@media only screen and (max-width:650px){
	.main-block {padding-top: 100px;}
}
