#map {height: 750px; width: 500px; margin-left: 50px; margin-top: 50px; float: left; z-index: 3; padding-right: 50px;}
.ymaps-2-1-60-copyright__content-cell, .ymaps-2-1-60-map-copyrights-promo, .gotoymaps{display:none;}
.popover-content {position: relative;border: none;background-color: #fdfdfd;color: #818181;font-size: 15px;padding: 3px;}
.popover-body .popover-content{display: flex; align-items: center; justify-content: center;}
.popover-body .popover-content:last-child{padding-bottom: 30px; border-radius: 0 0 10px 10px;}
.popover-head .popover-content:first-child{border-radius: 10px 10px 0 0;}
.popover-body .popover-content .shop-name {padding-top: 15px; color: #4e4e4e; font-weight: 500;}
.popover-content .popover-cancel {padding-top: 10px; padding-right: 15px; }
.popover-worktime {position: relative; display: inline-block; width: 45%; padding: 5px; margin-left: 25%; text-align: center; background-color: #FFBA37; color: #fdfdfd; font-size: 13px;}
.popover-cancel img {position: relative; float: right; width: 13px; height: 13px; margin-top: 5px; opacity: 1;}
.popover-cancel img:hover{opacity: 1;}
.popover-arrow:after {content: ''; border: 13px solid transparent; border-top: 13px solid #fdfdfd; position: absolute; margin-left: 100px;}

.main-block {background-color: #f4f4f4;}
.main-block .content { padding-bottom: 15px; margin-top: 50px; margin-bottom: 50px; width: 80%; left: 10%; background-color: #fff; position: relative; display: inline-block;}
.delivery {margin-top: 50px; margin-right: 30px; margin-left: 30px;}
.delivery label, .payment label{font-size: 19px;font-weight: 400;color: #4e4e4e;}
.deliv-desc, .payment{font-size: 14px; font-weight: 400;color: #5c5c5c;}
.delivery label > span{margin-right: 15px; }
.delivery input {padding-top: 10px;}
.delivery img {width:20px;}
.delivery .type {margin-top: 40px;}
.payment {float: left; padding: 0 50px;}
.payment ul {padding-left: 20px;}
.payment ul li {padding-top: 20px; padding-right: 20px;}
.payment ul li .caption {font-size: 16px; font-weight: 400; color: #4e4e4e;}
.payment ul li .desc {font-size: 14px; display: block; padding: 5px 30px 5px 0;}
.payment a {color: #4e4e4e; text-decoration: none; font-weight: 500;}
.payment a:hover {color: #c9923d;}
.payment .check p {font-size: 19px; font-weight: 400; color: #4e4e4e; padding-right: 20px;}
.payment .check img {width: 400px; height: 500px; padding-left: 20px;}
.payment .order-steps {padding-bottom: 30px; padding-right: 20px;}
.payment .order-steps p {font-size: 19px; font-weight: 400; color: #4e4e4e;}

input[name=deliv-type]{display: none;}
input[name=deliv-type]+ label {cursor: pointer;}
input[name=deliv-type]:checked + label {cursor: text;}
input[name=deliv-type]+ label span {width: 20px; height: 20px; display: inline-block; vertical-align: middle;
	background:url(../img/icons/radio-button.svg) left top no-repeat;  background-size: cover; margin-top: -4px;}
input[name=deliv-type]:checked + label span{background:url(../img/icons/map-point.svg) left top no-repeat; background-size: cover;}

@media only screen and (max-width:1199px){
	#map {margin-left: 10%; width: 80%; height: 500px; padding-right: 0;}
	.delivery {margin-top: 600px; }
	.delivery label{margin-left: 0; margin-top: -40px;}
	.deliv-desc{margin-left: 30px;}
}

@media only screen and (max-width:768px) {
	.delivery {margin-top: 400px; }
	.payment .check img {width: 200px; height: 300px; padding-left: 0;}
	.payment .order-steps ol {padding-inline-start: 20px;}
	#map {height: 300px;}
	.payment ul li {padding: 0;}

	.delivery label, .payment label{font-size: 14px;}
	.deliv-desc, .payment{font-size: 12px; line-height: 20px;}
	.payment ul li .caption {font-size: 14px;}
	.payment ul li .desc {font-size: 12px;}
	.payment ul li .desc {font-size: 12px;}
	.payment .check p {font-size: 14px;}
	.payment .order-steps p {font-size: 12px;}
}

@media only screen and (max-width:991px){
	.main-block {padding-top: 50px;}
}

@media only screen and (max-width:650px){
	.main-block {padding-top: 100px;}
}
