.main-block {background-color: #d1c1b3;height: 400px;background-image: url(../img/scrat.png);background-size: 580px;background-position: left center;
	background-repeat: no-repeat;position: relative; margin-top: 2px;}
.main-block .content {position: absolute;-webkit-transform: translate(0%, -40%);-ms-transform: translate(0%, -40%);
    transform: translate(0%, -40%);top: 40%; width: 50%; right: 100px; word-wrap: break-word; overflow-wrap: break-word;
}
.main-block .content .text{font-size: 38px;font-weight: 300;color: #fff;line-height: 48px;}
.main-block .content .button {margin-top: 20px; margin-bottom: 20px;}
.main-block .content .button a{color: #5d5b5a;background-color: #f9f9f9;font-size: 16px;
    line-height: 14px;text-decoration: none;padding: 13px 40px;
    -webkit-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
    border-radius: 5px;}
.main-block .content .button a:hover {background-color: #f2f2f2;}
.main-block .content .promo {font-size: 20px;color: #fff;font-weight: 300;}
.main-block .content .promo span{font-weight: 500;}

.blocks {padding-top: 45px;padding-bottom: 5px}
.blocks .items .item{position: relative; cursor: pointer; max-width: 420px;margin: 0 auto;border-radius: 3px;margin-bottom: 40px;
	-webkit-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.03);
	-moz-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.03);
	box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.03);
}
.blocks .items .item img{position: relative;width: 100%;max-width: 420px;border-radius: 3px;}
.blocks .items .item .fade {position: absolute;top: 0;width: 100%;height: 100%;background-color: #fdfdfd;
    opacity: 0.35;display: none;}
.blocks .items .item:hover .fade {display: block;}
.blocks .items .item .button {position: absolute;left: 30px;bottom: 10px;}
.blocks .items .item .button span{font-size: 19px;font-weight: 500;color: #52504f; text-decoration: none;}

@media only screen and (max-width:1024px){
    .main-block .content {line-height: normal;}
}

@media only screen and (max-width:991px){
    .main-block {background-color: #d1c1b3; background-image: url(../img/tablet-banner.jpg); background-size: cover; background-position: center;
    background-repeat: no-repeat;position: relative;}
    .main-block .content {text-align: center; left: 0; right: 0; width: 100%; top: 47%;}
    .main-block .content .text, .main-block .content .text span{font-size: 30px !important; line-height: 50px !important;}
}

@media only screen and (max-width:767px){
    .main-block {background-color: #d1c1b3; height: 400px;background-image: url(../img/mobile-banner.png);background-size: cover;background-position: center;
    background-repeat: no-repeat;position: relative;}
    .main-block .content .text, .main-block .content .text span{font-size: 22px !important;	line-height: 30px !important; padding: 10px;}
    .main-block .content .button a {font-size: 14px; padding: 14px 45px;}
    .main-block .content .button {display: block;}
    .main-block .content .promo{margin-top: 20px; font-size: 17px; padding: 10px;}
}

@media only screen and (max-width:650px) {
    .main-block {height: 500px;}
    .main-block .content {top: 55%;}
}

@media only screen and (max-width:450px) {
    .main-block {height: 630px;}
}
