.help-block .payment-confirm {display: none;}

#payment-confirm-modal {border-radius: 3px;background: #fff;position: relative;max-width: 600px;margin: 0 auto; 
	padding: 5px;padding-top: 20px;padding-bottom: 30px;width: 100%;text-align: center;}
#payment-confirm-modal .title{color: #52504f;font-size: 18px;margin-top: 35px;margin-bottom: 25px;}
#payment-confirm-modal p {color: #52504f;font-size: 17px;margin: 0;margin-bottom: 5px; }
#result-img img{position: relative; width: 70px; height: 70px; margin-top: 40px; }
