.main-block {background-color: #f4f4f4;padding-top: 20px;}
.main-block .breadcrumbs {float: left;padding-top: 5px;}
.main-block .breadcrumbs ul li{display: inline-block; padding-right: 40px;position: relative;}
.main-block .breadcrumbs ul li::after {content: '/';color: #dadada;position: absolute;
    right: 15px;font-size: 15px;}
.main-block .breadcrumbs ul li a{color: #818181;font-size: 15px;text-decoration: none;}
.main-block .breadcrumbs ul li:last-child {padding-right: 0;}
.main-block .breadcrumbs ul li:last-child a{color: #c9923d;}
.main-block .breadcrumbs ul li:last-child::after{content: none;}
.main-block .sort {float: right;position: relative;}
.main-block .sort:hover .wrapper-drop {width: 100%;display: inline-block;}
.main-block .sort .wrapper-drop{position: absolute;width: 100%;display: none;z-index: 100;}
.main-block .sort a{text-decoration: none;color: #818181;font-size: 14px;background-color: #fff;padding: 5px 22px;display: block;}
.main-block .sort .method:hover{background-color: #f9f9f9;}
.main-block .sort .sorted-by {text-align: center; font-size: 12px; margin-top: 10px;}

.wrapper-content {overflow: hidden;margin-top: 20px;padding-bottom: 50px;}
.wrapper-content .filter {background-color: #fff;padding: 15px 20px;}
.wrapper-content .filter ul li {list-style: none;font-size: 17px; padding: 3px;}
.wrapper-content .filter ul li span {color: #2a2a2a;cursor: pointer;}
.wrapper-content .filter ul li .selected {color: #c9923d;}
.wrapper-content .filter ul li span a{color: #2a2a2a; cursor: pointer; text-decoration: none;}
.wrapper-content .filter ul .parent ul{display: none;}
.wrapper-content .filter ul .parent ul li a{font-size: 14px; color: #4e4e4e;font-weight: 400; text-decoration: none;}
.wrapper-content .filter ul .parent ul .selected a, .wrapper-content .filter ul .parent .selected a{color: #c9923d;}
.wrapper-content .filter ul .active ul {display: block;}

.wrapper-content .item {margin-bottom: 20px; padding-right: 0; height: 350px;}
.wrapper-content .item .content {background-color: #fff;position: relative;padding-bottom: 15px;}
.wrapper-content .item .content img{width: 100%; height: 200px; object-fit: cover;}
.wrapper-content .item .content .percent{position: absolute; right: 0; margin-top: 20px; width: 100px; font-size: 15px; background-color: #c9923d; color: #ffffff; text-align: center;}
.wrapper-content .item .content .name{font-size: 15px; font-weight: 400; color: #5c5c5c; padding: 0 15px; margin-top: 10px}
.wrapper-content .item .content .price{font-size: 17px;color: #2a2a2a; padding-left: 15px; line-height: 25px; width: 50%; float: left;}
.wrapper-content .item .content .price-before{left: 5%; margin-bottom: -10px; font-size: 17px; color: #9b9b9b;}
.wrapper-content .item .content .country{font-size: 17px; right: 0; width: 50%; text-align: right; padding-right: 15px; padding-top: 5px; line-height: 15px; float: right;}
.wrapper-content .item .content .presence{font-size: 17px; right: 0; padding: 10px 15px; text-align: right; margin-top: 30px;}
.wrapper-content .item .content .in-stock{color: #1c7430;}
.wrapper-content .item .content .out-stock{color: #CC0000;}
.wrapper-content .item .content:hover .fade {display: block;}
.wrapper-content .item .content .fade{text-align: center;position: absolute;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.3);
    display: none; opacity: 1;}
.wrapper-content .item .content .fade .buttons {position: absolute;top: 70%;-webkit-transform: translate(0%, -50%);-ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);width: 100%;}
.wrapper-content .item .content .fade .buttons a {text-decoration: none;color: #4e4e4e;display: inline-block;
    background-color: #fff;}
.wrapper-content .item .content .fade .buttons img {width: 50px; height: 50px; padding: 10px;}
.wrapper-content .item .content .fade .buttons .add-to-cart, .wrapper-content .item .content .fade .buttons .show-product {width: 50%; float: left;}
.wrapper-content .item .content .fade .buttons .add-to-cart a{margin-right: -50%;}
.wrapper-content .item .content .fade .buttons .show-product a{margin-left: -50%;}
.wrapper-content .item .content .fade .buttons a:hover {background-color: #f9f9f9;}

.my-pagination {padding: 0 15px; margin-top: 10px;}
.my-pagination li {display: inline-block;}
.my-pagination li a{font-weight: 400;font-size: 15px;color: #5c5c5c;cursor: pointer;padding: 12px 18px;text-decoration: none;}
.my-pagination .active a{background-color: #fff;}
.my-pagination li a:hover {background-color: #fff;}
.my-pagination .next img{width: 6px; margin-bottom: 5px;}


@media only screen and (max-width:1399px){
    .wrapper-content .item .content .name {font-size: 13px;}
}

@media only screen and (max-width:991px){
    .main-block {padding-top: 100px;}
}

@media only screen and (max-width:767px){
    .wrapper-filter {display: none;}
    .np-right {padding: 0;}
    .np-left {padding: 0;}
    .np {padding: 0;}
    .my-pagination {text-align: center;}
    .wrapper-content .item .content {margin: 0 auto;max-width: 280px;}
    .wrapper-content .item .content .price {font-size: 13px;}
    .wrapper-content .item {padding-right: 15px;}
    .main-block .breadcrumbs ul li{padding-right: 10px;}
    .main-block .breadcrumbs ul li::after {right: 0;}
}

@media only screen and (max-width:650px){
    .main-block {padding-top: 150px;}
}

@media only screen and (max-width:425px){
    .main-block .sort {
        float: initial;
        margin-top: 30px;
        position: relative;
        display: inline-block;
        width: 100%;
    }
}