.main-block {background-color: #f4f4f4; min-height: 700px; position: relative;}
.main-block .container {display: inline-block; margin-left: 0; width: 100%;}
.main-block .content-img {position: absolute; min-height: 400px; padding-bottom: 15px; margin-top: 70px; width: 53%; text-align: right;}
.main-block .content-cart {position: relative; min-height: 350px; padding-bottom: 15px; margin-top: 70px;  width: 40%; margin-left: 58%; text-align: left; }
.main-block .product {margin-bottom: 120px; position: relative; padding-bottom: 15px; }

.main-block .breadcrumbs {float: left;padding: 15px 20px;}
.main-block .breadcrumbs ul li{display: inline-block; padding-right: 40px;position: relative;}
.main-block .breadcrumbs ul li::after {content: '/';color: #dadada;position: absolute; right: 15px;font-size: 15px;}
.main-block .breadcrumbs ul li a{color: #818181;font-size: 15px;text-decoration: none;}
.main-block .breadcrumbs ul li:last-child {padding-right: 0;}
.main-block .breadcrumbs ul li:last-child a{color: #c9923d;}
.main-block .breadcrumbs ul li:last-child::after{content: none;}


.line-block {line-height: 20px;float:left; margin: 0 20px 0 0; font-weight: 400;font-size: 15px;color: #5c5c5c;}
.line-block img{cursor: pointer;}
.main-img{position: absolute; right: 0; width: 500px; background-color: #fff; display: flex; align-items: center; justify-content: center; }
.main-img .percent{position: absolute; z-index: 3; right: 0; top: 40px; width: 100px; font-size: 15px; background-color: #c9923d; color: #ffffff; text-align: center;}
.main-img .product-img{ position: relative; width: 500px; height: 333px; background-size: contain;}
.mini-imgs {position: absolute; right: 550px; float: left;}
.mini-img{background-color: #fff; height: 100px; margin-bottom: 10px; cursor: pointer;}
.mini-imgs .product-img{width: 85px; position: relative; top: -80px;}
.mini-imgs .img-frame {width: 85px; height: 100px; border: 1px solid #c9923d; position: relative;  z-index: 10; margin-left: 0; visibility: hidden;}
.mini-imgs .mini-img:first-child .img-frame{visibility: visible;}

#product-card .product-name{line-height: 20px; margin-bottom: 15px; font-weight: 400;font-size: 18px;}
#product-card .price {color: #c9923d; font-weight: 400; font-size: 18px; margin-bottom: 15px;}
#product-card .price-before{left: 5%; margin-bottom: -10px; font-size: 17px; color: #9b9b9b;}
#product-card .presence{margin-bottom: 15px; font-weight: 400; font-size: 18px;}
#product-card .in-stock{color: #1c7430;}
#product-card .out-stock{color: #CC0000;}
#product-card .articule{color: #818181;font-weight: 300; font-size: 13px; margin-bottom: 15px;}
#product-card .country{color: #818181;font-weight: 300; font-size: 15px; margin-bottom: 15px;}
#product-card .description{color: #818181;font-weight: 300; font-size: 15px; margin-bottom: 20px;}

#product-card .second-block {position: relative;float:left; margin-bottom: 30px; width:100%;}
#product-card .second-block .line-block img{width: 10px;}
#product-card .second-block .change {float:left; border: 1px solid #D3D3D3; padding: 20px 0; width: 250px;}
#product-card .second-block .inside-change {position: absolute; top: 0; left: 125px; -webkit-transform: translate(-50%, 50%);-ms-transform: translate(-50%, 50%); transform: translate(-50%,50%);}
#product-card .second-block .line-block {margin: 0 5px 0 0;}
#product-card .second-block .line-block{margin-right: 20px;}
#product-card .second-block .line-block:last-child{margin-right: 0;}

.add-to-cart { margin-bottom: 30px; min-width: 250px;}
.add-to-cart  a{position: relative; width: 100%;color: #f9f9f9; background-color: #5d5b5a;padding: 10px 58px;}
.add-to-cart :hover a{background-color: #4a4a4a; color: #f9f9f9;}
.main-block .socials{margin-top: 50px;}
.main-block .socials .contact{color: #CC0000; font-weight: 400; font-size: 17px; margin-bottom: 10px;}

@media only screen and (max-width:1200px){
	.main-block {min-height: 1060px; }
	.main-block .container {display: block; width: 100%;}
	.main-block .content-img {position: relative; width: 100%; left: 0; min-height: 300px; margin-bottom: 0;}
    .main-block .imgs {position: absolute; width: 100%; height: 100%; left: 0;}
    .main-block .content-cart {margin: 0 auto; left: 0; position: relative; width: 100%; margin-top: 50px; text-align: center;}
    #product-card .second-block .change{left: 50%; transform: translate(-50%, 0); position: relative;}
    #product-card .second-block .inside-change {left: 50%;}
    #product-card .description{padding: 0 30px; width: 80%; margin-left: 10%;}
    .main-block .socials{ position: absolute; left: 50%; margin-left: -110px; margin-top: 0;}
    .main-block .socials .contact{text-align: left;}

    .main-img {position: relative; left:0; margin: 0 auto; width: 450px; height: 300px;}
    .main-img .product-img {width: 450px; height: 300px;}
    div.image-zoom div.popup, div.image-zoom div.thumbnail {width: 450px !important; height: 300px !important;}
    .mini-imgs{right: 75%;}
    .product-inf{width:100%;}
}

@media only screen and (max-width:991px){
    .mini-imgs{right: 80%;}
    .main-block {padding-top: 100px;}
}

@media only screen and (max-width:768px){
    .main-block {min-height: 1000px;}
    .main-block .content-img {position: relative; width: 100%; left: 0; min-height: 300px; margin-bottom: 0;}
    .main-block .imgs {position: absolute; width: 100%; height: 100%; margin: 0 auto;}
    .main-block .content-cart {text-align: center; margin-top: 70px;}

    .main-img {width: 300px; height: 200px;}
    .main-img .product-img{ position: relative; width: 100%; height: 100%; }
    div.image-zoom div.popup, div.image-zoom div.thumbnail {width: 300px !important; height: 200px !important;}
    .mini-imgs {left: 50%; transform: translate(-50%, 0); top: 250px; right: auto;}
    .mini-img{ float: left; margin-right: 10px; height: 80px;}
    .mini-imgs .product-img{width: 65px; top: -60px;}
    .mini-imgs .img-frame {width: 65px; height: 80px;}
}

@media only screen and (max-width:650px){
    .main-block {padding-top: 150px;}
}

@media only screen and (max-width:550px){
    .main-block {min-height: 1000px; }
    .main-block .breadcrumbs ul li{padding-right: 15px;}
    .main-block .breadcrumbs ul li::after {right: 2px;}

    div.image-zoom div.popup, div.image-zoom div.thumbnail {width: 300px !important; height: 200px !important;}
    #product-card .description{width: 90%; margin-left: 5%;}
    .mini-imgs {top: 300px; position: relative;}
    .main-block .content-img {margin-top: 0;}
    .main-block .content-cart {margin-top: 120px;}
}
