	.help-block .product-popup {display: none;}
	
	#product-popup-modal {border-radius: 3px;background: #fff;position: relative;max-width: 1000px;  min-height: 600px;margin: 50px auto;
		padding: 5px;padding-top: 20px;padding-bottom: 30px;width: 100%;text-align: center;}

	#product-popup-modal .content-img {position: absolute; min-height: 400px; padding-bottom: 15px; margin-top: 70px;width:40%; left: 10%; }
	#product-popup-modal .content-description {position: relative; min-height: 350px; padding-bottom: 15px; margin-top: 70px;width: 40%; max-width: 500px; margin-left: 55%; text-align: left; }
	#product-popup-modal .product {margin-bottom: 20px; position: relative; padding-bottom: 15px; }
	#product-popup-modal .main-img{position: relative; height: 100%; display: flex; align-items: center; justify-content: center;  background-color: #fff; margin-left: 5px; }
	#product-popup-modal .main-img .percent{position: absolute; right: 0; top: 20px; width: 100px; font-size: 15px; background-color: #c9923d; color: #ffffff; text-align: center;}
	#product-popup-modal .main-img img{width: 350px; height: 350px; object-fit: cover;}
	#product-popup-modal .img-frame {width: 360px; height: 360px; border: 1px solid #c9923d; position: absolute;  z-index: 999; margin-left: 0;}
	#product-popup-modal .mfp-close {right:20px; top: 15px;}
	#product-popup-modal .mfp-close img{width: 20px;}

	#product-popup-modal .product .product-name{line-height: 20px; margin-bottom: 15px; font-weight: 400;font-size: 20px;}
	#product-popup-modal .product .price {color: #c9923d; font-weight: 400; font-size: 22px; margin-bottom: 15px;}
	#product-popup-modal .product .articule{color: #818181;font-weight: 300; font-size: 13px; margin-bottom: 15px;}
	#product-popup-modal .product .country{color: #818181;font-weight: 300; font-size: 15px; margin-bottom: 15px;}
	#product-popup-modal .product .popup-description{color: #818181;font-weight: 400; font-size: 15px; margin-bottom: 35px;}
	#product-popup-modal .product .price-before{left: 5%; margin-bottom: -10px; font-size: 17px; color: #9b9b9b;}

	#product-popup-modal .add-box{ margin-bottom: 30px; min-width: 250px;}
	#product-popup-modal .add-box a{position: relative; width: 100%;color: #f9f9f9; background-color: #5d5b5a;padding: 10px 58px;}
	#product-popup-modal .add-box:hover a{background-color: #4a4a4a; color: #f9f9f9;}

@media only screen and (max-width:991px){
	#product-popup-modal .content-img {min-height: 300px; margin-top: 70px;}
	#product-popup-modal .main-img{width: 250px;}
	#product-popup-modal .main-img img{max-width: 250px; max-height: 250px;}
	#product-popup-modal .img-frame {width: 260px; height: 260px;}

	#product-popup-modal .product .product-name{font-size: 18px;}
	#product-popup-modal .product .price {font-size: 22px;}
	#product-popup-modal .product .articule{font-size: 12px;}
	#product-popup-modal .product .country{font-size: 12px;}
	#product-popup-modal .product .popup-description{font-size: 13px;}
}

@media only screen and (max-width:670px){
	#product-popup-modal .content-description {position: relative; min-height: 350px; padding: 10px; margin-left: 0; margin-top: 0; width: 100%; max-width: 500px;  text-align: center; }
	
	#product-popup-modal .content-img {position: relative; min-height: 300px; margin-top: 70px; width:100%; text-align:center; left: 50%;}
	#product-popup-modal .main-img{width: 100%; padding: 5px; margin-left: 0;}
	#product-popup-modal .main-img img{max-width: none; max-height: 250px; width: 100%;}
	#product-popup-modal .img-frame {width: 90%; height: 260px; margin-left: 5%;}

	#product-popup-modal .product .product-name{font-size: 18px;}
	#product-popup-modal .product .price {font-size: 22px;}
	#product-popup-modal .product .popup-description{font-size: 13px;}
}