.main-block {background-color: #f4f4f4;}
.main-block .content { padding-bottom: 15px; margin-top: 50px; margin-bottom: 50px; width: 80%; left: 10%; background-color: #fff; position: relative; display: inline-block;}
.user-panel {width: 100%; background-color: #f9f9f9; height: 60px;}
.user-name {margin-top: 18px; padding-left: 50px; font-weight: 400;font-size: 16px;color: #5d5b5a;}
.exit-button {margin-top: 18px; padding-right: 50px;}
.exit-button a{color: #5d5b5a;background-color: #f9f9f9;font-size: 16px;
	line-height: 14px;text-decoration: none;padding: 7px 40px;
	-webkit-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
	box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
	border-radius: 5px;}
.exit-button a:hover {background-color: #f2f2f2;}

.profile-nav{width: 20%; float: left;}
.profile-nav ul {margin-top: 50px; margin-left: 50px; position: relative;}
.profile-nav ul li {display: block; padding-bottom: 20px; line-height: 25px;}
.profile-nav ul li a{font-weight: 400;font-size: 14px;color: #5d5b5a; cursor: pointer; text-decoration: none;}
.profile-nav ul li:hover a{color: #c9923d;}
.profile-nav .selected{color: #c9923d;}

.inform{margin-left: 25%; margin-top: 50px; margin-right: 50px;}
.inform .row {height: 90px;}
.form-input{position: relative;}

.main-block input {width: 100%; border-radius: 3px;border: 1px solid #f3f3f3;padding: 5px 15px;}
.main-block input:focus {outline: none !important;border:1px solid #c9923d;}

.client-type {display: inline-block; margin-bottom: -20px; position: relative;}
.client-type a{color: #818181;text-decoration: none;position: relative;padding: 10px 15px;font-size: 13px;}
.client-type:hover .wrapper-drop{display: block;}

.client-type-button span{font-weight: 400;font-size: 14px; color: #c9923d; cursor: pointer; }	
.client-type-button:hover{}
.client-type-button	img{width: 10px; margin-left: 10px;}
	
.client-type .wrapper-drop {position: absolute; right: 0;top: 21px;  z-index: 10; display: none; border: 1px solid #f4f4f4;}
.client-type-down {text-align: center;width: 150px;background-color: #fff;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.client-type-down li{color: #818181;text-decoration: none;display: block; cursor: pointer; padding-bottom: 5px; padding-top: 5px;}
.client-type-down li:hover{background-color: #f9f9f9}

.birthday {position: relative; margin-top: 5px; text-align: center; padding-left: 15px; padding-right: 15px;}

.ur-person-inputs, #profile-form {display: none;}
.information div {padding-bottom: 20px; font-weight: 400; font-size: 14px; color: #5d5b5a;}
.information .data {color: #c9923d;}
.empty-orders {text-align: center; font-size: 17px; font-weight: 400; color: #5d5b5a;}
.empty-orders .button {margin-top: 40px; margin-bottom: 20px;}
.empty-orders .button a{color: #5d5b5a;background-color: #f9f9f9;font-size: 16px;
	line-height: 14px;text-decoration: none;padding: 13px 40px;
	-webkit-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
	box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
	border-radius: 5px;}
.empty-orders .button a:hover {background-color: #f2f2f2;}

.save{margin-bottom: 30px; margin-top: 20px;}
.save button{color: #f9f9f9; background-color: #5d5b5a; margin-left: 10px; padding: 7px 50px;}
.save:hover button{background-color: #4a4a4a; color: #f9f9f9; text-decoration: none;}

.loyalty span, .discount-label, .table{color: #5d5b5a;}
.loyalty span b, .discount-label b, .table b{font-weight: 500;}

.discount-label{margin-top: 20px;}
.progress {margin-top: 10px; margin-bottom: 15px; border-radius: 10px; height: 15px;}
.progress-bar{background-color: #c9923d; border-radius: 10px; }
.progress-table td{border-right: 3px solid white; height: 15px; width:16.66%;}
.progress-table{position: absolute; width:70%; }
.percent-table{margin-top: 20px; width: 100%;}
.percent-table span{color:#c9923d;}
.percent-table td {width: 16.66%; text-align: center;}
.points-table td {width: 16.66%; text-align: right;}
.percent-table span, .points-table span{margin-right: 0;}
.points-table{margin-bottom: 40px; width: 100%;}


.orders{width: 100%; margin-top: 10px; margin-right: 50px;}
.order{cursor: pointer;}
.order-header{cursor: pointer; margin-left: 15px; padding-top: 40px; padding-bottom: 35px; border-bottom: 5px solid #999999; font-weight: 500; color: #5d5b5a;}
.order-header:hover{background-color: #f9f9f9;}
.overall-sum{font-weight: 500; color: #c9923d; margin-top: 50px;}
.order-inf{display: none; font-weight: 400; color: #818181;  margin-top: 20px;}


.products{margin-top: 30px;}
.product{margin-bottom: 10px; width: 100%; padding: 0; min-height: 80px; box-shadow: 0 0 20px 3px rgba(221, 221, 221, 0.2); font-weight: 400; color: #818181;}
.product-img{height: 40px; width: 60px; border: 1px solid #c9923d; margin-top: 20px; margin-left: 30px; object-fit: cover;}
.product-name{margin-top: 30px;  margin-left: 15px;}

.product-weight{margin-top: 30px;}
.product .price{margin-top: 30px; margin-right: 30px; color: #c9923d;}
.scratbox-header{position:relative; width: 100%; height: 100%; cursor: pointer; padding: 0; padding-bottom: 20px;}
.scratbox-options{display: none; position: relative; margin-top: 10px; box-shadow: 0 0 20px 3px rgba(221, 221, 221, 0.2); padding: 20px 30px 20px 30px;}

.option{width:100%; height: 70px;}
.option .product-name{margin-top: 25px;  margin-left: 0;}
.option .cell{margin-top: 25px; color: #c9923d;}
.option .price{margin-top: 25px; margin-right: 0;}
.option .product-weight{margin-top: 25px; margin-right: 0; padding: 0;}

@media only screen and (max-width:1300px){
	.product-img{margin-left: 10px;}
	.option{height: 90px; padding-left: 10px; padding-right: 10px;}
	.scratbox-options, .col-sm-2, .col-sm-6{padding-left: 0; padding-right: 0;}
	.product .price{margin-right: 10px;}
	.product-weight{margin-top: 30px;}
	.option .product-name{margin-left: 10px;}
}

@media only screen and (max-width:1200px){
	.client-type {margin-bottom: 30px;}
	.user-name{font-size: 14px;}
}

@media only screen and (max-width:991px){
	.user-name {padding-left: 10px;}
	.exit-button {padding-right: 10px;}
	.profile-nav{width: 100%; text-align: center; margin-left: 0;}
	.profile-nav ul li {display: inline-block; padding-right: 30px; padding-bottom: 50px;}
	.inform{margin-left: 50px;}
	.save{text-align: center;}
	.progress-table{width:85%; }

	.orders{margin-left: 0;}
	.main-inf{text-align: center;}
	.overall-sum{text-align: center;}
}

@media only screen and (max-width:767px){
	.user-name, .exit-button{text-align: center;}
	.profile-nav ul {margin-left: 0;}
	.profile-nav ul li {display: block; padding-bottom: 20px; padding-right: 0;}
	.save button {margin-left: 0;}
	.inform{padding-top: 120px;}
	.user-panel {height: 120px;}
	.progress-table{width:80%;}
	.birthday {margin-bottom: 20px;}

	.orders{margin-right: 10px; margin-left: 0;}
	.product div{text-align: center; margin: 5px 0 0 0;}
	.product .price{margin-top: 0; margin-right: 0; margin-bottom: 30px;}
	.product-img{margin-left: 0;}
	.option .price{margin-bottom: 30px;}
	.option .product-name, .option .cell, .option .product-weight, .option .price{margin-top: 0;}
}

@media only screen and (max-width:600px){
	.private-inf{margin-left: 10px; margin-right: 10px;}
	.inform{margin-left: 10px; margin-right: 10px;}
	.progress-table{width:95%; }
}

@media only screen and (max-width:991px){
	.main-block {padding-top: 50px;}
}

@media only screen and (max-width:650px){
	.main-block {padding-top: 100px;}
}
