.main-block {background-color: #d1c1b3;height: 400px;background-image: url(../img/scrat-box/box.png);background-size: 580px;background-position: left center;
	background-repeat: no-repeat;position: relative; margin-top: 2px;}
.main-block .content {position: absolute;-webkit-transform: translate(0%, -40%);-ms-transform: translate(0%, -40%);
	transform: translate(0%, -40%);top: 40%; width: 50%; right: 100px; word-wrap: break-word; overflow-wrap: break-word;
}
.main-block .content .text{font-size: 38px;font-weight: 300;color: #fff;line-height: 48px;}
.main-block .content .button, .collect-box {margin-top: 20px; margin-bottom: 20px;}
.main-block .content .button a, .collect-box a{color: #5d5b5a;background-color: #f9f9f9;font-size: 16px;
	line-height: 14px;text-decoration: none;padding: 13px 40px;
	-webkit-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
	box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
	border-radius: 5px;}
.main-block .content .button a:hover, .collect-box a:hover {background-color: #f2f2f2;}
.main-block .content .promo {font-size: 20px;color: #fff;font-weight: 300;}
.main-block .content .promo span{font-weight: 500;}

.collect-box {position: relative; height: 70px;}
.collect-box a{position: absolute; left: 50%; margin-left: -90px;}
.description {min-height: 600px;}
.content-img {position: absolute; min-height: 400px; padding-bottom: 15px; margin-top: 70px; width:40%;  left:5%;}
.content-description {position: relative; min-height: 350px; padding-bottom: 15px; margin-top: 70px; width: 40%; max-width: 500px; margin-left: 55%; text-align: left; }
.box {margin-top: 200px;  min-width: 600px; position: relative; padding-bottom: 15px; padding-right: 15px; }
.desc-img{position: relative; width: 350px;  background-color: #fff; margin-left: 5px; }
.desc-img img{max-width: 650px; max-height: 650px;}
.box .box-name{color: #5d5b5a; line-height: 20px; margin-bottom: 15px; font-weight: 400;font-size: 25px;}
.box .box-description{color: #5d5b5a; font-weight: 400; font-size: 15px; margin-bottom: 35px; text-align: left;}

.blocks-label{text-align: center; margin-bottom: 30px;}
.blocks-label span{color: #5d5b5a; margin-bottom: 15px; font-weight: 400;font-size: 28px;}

.blocks{padding-bottom: 50px;}

.wrapper-content {overflow: hidden;margin-top: 20px;padding-bottom: 50px; max-height: 500px; }
/*.wrapper-content .item:nth-child(n+5){ opacity: 0.1; filter: alpha(opacity=30);  pointer-events: none;}*/
.wrapper-content .item {margin-bottom: 15px;padding-right: 0; height: 350px;}
.wrapper-content .item .content {background-color: #fff;position: relative;padding-bottom: 15px; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2);}
.wrapper-content .item .content img{width: 100%; height: 200px; object-fit: cover;}
.wrapper-content .item .content .name{font-size: 15px;font-weight: 400;color: #5c5c5c;padding: 0 15px;margin-top: 10px;}
.wrapper-content .item .content .price{font-size: 17px;color: #2a2a2a;padding: 0 15px;}
.wrapper-content .item .content .percent{position: absolute; right: 0; margin-top: 20px; width: 100px; font-size: 15px; background-color: #c9923d; color: #ffffff; text-align: center;}
.wrapper-content .item .content .price-before{left: 5%; margin-bottom: -10px; font-size: 17px; color: #9b9b9b;}
.wrapper-content .item .content:hover .fade {display: block;}
.wrapper-content .item .content .fade{text-align: center;position: absolute;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.3);
    display: none; opacity: 1;}
.wrapper-content .item .content .fade .buttons {position: absolute;top: 50%;-webkit-transform: translate(0%, -50%);-ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);width: 100%;}
.wrapper-content .item .content .fade .buttons a {text-decoration: none;color: #4e4e4e;display: inline-block;
    background-color: #fff;width: 155px;padding: 7px;}
.wrapper-content .item .content .fade .buttons a:last-child {margin-top: 5px;}
.wrapper-content .item .content .fade .buttons a:hover {background-color: #f9f9f9;}

.my-pagination {padding: 0 15px; margin-top: 40px;}
.my-pagination li {display: inline-block;}
.my-pagination li a{font-weight: 400;font-size: 15px;color: #5c5c5c;cursor: pointer;padding: 12px 18px;text-decoration: none;}
.my-pagination .active a{background-color: #dadada;}
.my-pagination li a:hover {background-color: #dadada;}
.my-pagination .next img{width: 6px; margin-bottom: 5px;}

.show-more {position: absolute; bottom: 25%; width: 100%; text-align:center;}
.show-more a{position: relative; width: 100%;color: #f9f9f9; background-color: #5d5b5a; margin-left: 10px; padding: 10px 58px; cursor: pointer;}
.show-more:hover a{background-color: #4a4a4a; color: #f9f9f9;}


@media only screen and (max-width:1399px){
    .wrapper-content .item .content .name {font-size: 13px;}
	.box {margin-top: 150px; min-width: 450px;}
	.desc-img{width: 450px; margin-top: 30px;}
	.desc-img img{max-width: 450px; max-height: 450px;}
}
@media only screen and (max-width:991px){
    .main-block {background-color: #d1c1b3; background-image: url(../img/scrat-box/box-tablet.png);background-size: cover;background-position: center;
    background-repeat: no-repeat;position: relative;}
	.main-block .content {text-align: center; left: 0; right: 0; width: 100%; top: 47%;}
	.main-block .content .text, .main-block .content .text span{font-size: 30px !important; line-height: 50px !important;}
	.description {min-height: 400px;}
	.box {margin-top: 100px; min-width: 350px;}
	.desc-img{width: 350px; margin-top: 20px;}
	.desc-img img{max-width: 350px; max-height: 350px;}
    
	.box .box-name{font-size: 18px;}
	.box .box-description{font-size: 13px;}
	.blocks-label span{font-size: 24px;}
	
	.show-more {bottom: 30%;}
}

@media only screen and (max-width:767px){
    .wrapper-filter {display: none;}
	.wrapper-content .item {max-width: 350px; left: 50%; margin-left: -175px;}
	.wrapper-content .item .content .price {font-size: 13px;}
    .np-right {padding: 0;}
    .np-left {padding: 0;}
    .np {padding: 0;}
    .my-pagination {text-align: center;}
    .wrapper-content .item .content {margin: 0 auto; max-width: 280px;}
    .wrapper-content .item {padding-right: 15px;}
	
	.main-block {background-color: #d1c1b3; height: 400px;background-size: cover;background-position: center;
    background-repeat: no-repeat;position: relative;}
	.main-block .content .text, .main-block .content .text span{font-size: 22px !important;	line-height: 30px !important; padding: 10px;}
	.main-block .content .button a {font-size: 14px; padding: 14px 45px;}
	.main-block .content .button {display: block;}
	.main-block .content .promo{margin-top: 20px; font-size: 17px; padding: 10px;}
	
	.content-description {position: relative; min-height: 350px; min-width: 300px; padding-bottom: 15px; margin-top: 0; margin-left: auto; margin-right: auto;  text-align: center; }
	.content-img {position: relative; min-height: 250px; margin-top: 70px; text-align:center; left: 50%; -webkit-transform: translate(-50%, 0);-ms-transform: translate(-50%, 0); transform: translate(-50%, 0); width: 100%;}
	.desc-img{width: 100%;}
	.desc-img img{max-width: 250px; max-height: 250px; }

	.box {margin-top: 0; max-width: 350px; min-width: 300px; padding-right: 0;}
	.box .line-block{min-width: 300px;}
	.box .box-name{font-size: 18px;}
	.box .box-description{font-size: 13px;}
	
	.blocks-label span{font-size: 20px;}

	.container{margin-left: 0;}
}

@media only screen and (max-width:650px) {
	.main-block .content {top: 55%;}
}

@media only screen and (max-width:425px){
    .main-block .sort {float: initial; margin-top: 30px; position: relative; display: inline-block; width: 100%;}
}
