.main-block {background-color: #fff;padding-top: 20px;}
.main-block .container .row {margin: 0;}

.scrat-box{background-color: #f4f4f4; width: 100%; min-height: 250px; text-align: center;}
.scrat-box .scrat-box-header{position: relative; font-size: 26px;color: #2a2a2a;font-weight: 400; padding-top: 20px;}
.scrat-box .scrat-box-header .hint{font-size: 14px;}
.scrat-box .scrat-box-label{font-size: 17px;color: #4e4e4e;font-weight: 400; padding-bottom: 10px;}
.scrat-box .mini-img{display: inline-block; margin-right: 15px; margin-left: 15px;}
.scrat-box .mini-img .product-img{position: relative; width: 100px; height: 100px; object-fit: cover;}
.scrat-box .mini-img .cancel-img{width: 10px; vertical-align: top; margin-left: 5px; cursor: pointer;}

.scrat-box .add-box-to-cart {padding-bottom: 10px; padding-top: 10px; position: relative; height: 70px;}
.scrat-box .add-box-to-cart-inner {position: absolute; left: 50%; display: flex; margin-left: -265px;}
.scrat-box .add-box-to-cart .line-block img{width: 10px; cursor: pointer;}
.scrat-box .add-box-to-cart .change {margin-right: 10px; }
.scrat-box .add-box-to-cart .box-name{max-width: 120px; margin-left: 10px; margin-right: 10px;}
.scrat-box .add-box-to-cart .box-name input{width: 100%; max-width: 80px; margin-top: 2px; border-radius: 3px; border: 1px solid #f3f3f3; padding: 0 15px; display: none;}
.scrat-box .add-box-to-cart .box-name input:focus {outline: none !important;border:1px solid #c9923d;}
.scrat-box .add-box-to-cart .box-name span{font-size: 17px;color: #4e4e4e; cursor: pointer;}
.scrat-box .add-box-to-cart .box-name img{cursor: pointer; width: 15px; margin-left: 10px; margin-top: -5px;}
.scrat-box .add-box-to-cart .line-block {margin: 3px 5px 0 0; display: inline-block;}
.scrat-box .add-box-to-cart .price {color: #fff; font-weight: 300; background-color: #4e4e4e; margin-top: 2px; padding: 2px 20px; border-radius: 20px; margin-left: 10px; margin-right: 15px; height: 25px;}
.scrat-box .add-box-to-cart .add-to-cart-button{ margin-top: 3px;}
.scrat-box .add-box-to-cart .add-to-cart-button a{color: #5d5b5a;background-color: #f9f9f9;font-size: 16px;
    line-height: 14px;text-decoration: none;padding: 13px 30px;
    -webkit-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.3);
    border-radius: 5px;}
.scrat-box .add-box-to-cart .add-to-cart-button a:hover {background-color: #f2f2f2;}
.scrat-box .clear-scrat-box {padding-top: 10px; padding-bottom: 10px; position: relative;}
.scrat-box .clear-scrat-box a{color: #5d5b5a;}



.main-block .breadcrumbs {float: left;padding-top: 5px;}
.main-block .breadcrumbs ul li{display: inline-block; padding-right: 40px;position: relative;}
.main-block .breadcrumbs ul li::after {content: '/';color: #dadada;position: absolute;
    right: 15px;font-size: 15px;}
.main-block .breadcrumbs ul li a{color: #818181;font-size: 15px;text-decoration: none;}
.main-block .breadcrumbs ul li:last-child {padding-right: 0;}
.main-block .breadcrumbs ul li:last-child a{color: #c9923d;}
.main-block .breadcrumbs ul li:last-child::after{content: none;}
.main-block .sort {float: right;position: relative; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2);}
.main-block .sort:hover .wrapper-drop {width: 100%; display: inline-block;}
.main-block .sort .wrapper-drop{position: absolute; width: 100%;display: none; z-index: 100;}
.main-block .sort a{text-decoration: none;color: #818181;font-size: 14px;background-color: #fff;padding: 5px 22px;display: block;}
.main-block .sort .method:hover{background-color: #f9f9f9;}
.main-block .sort .sorted-by {text-align: center; font-size: 12px; margin-top: 10px;}

.wrapper-content {overflow: hidden;margin-top: 20px;padding-bottom: 50px; }
.wrapper-content .filter {background-color: #fff; padding: 15px 20px; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2); margin: 10px;}
.wrapper-content .filter ul li {list-style: none;font-size: 17px; padding: 3px;}
.wrapper-content .filter ul li span {color: #2a2a2a;cursor: pointer;}
.wrapper-content .filter ul li .selected {color: #c9923d;}
.wrapper-content .filter ul li span a{color: #2a2a2a; cursor: pointer; text-decoration: none;}
.wrapper-content .filter ul .parent ul{display: none;}
.wrapper-content .filter ul .parent ul li a{font-size: 14px; color: #4e4e4e;font-weight: 400; text-decoration: none;}
.wrapper-content .filter ul .parent ul .selected a, .wrapper-content .filter ul .parent .selected a{color: #c9923d;}
.wrapper-content .filter ul .active ul {display: block;}

.wrapper-content .item {margin-bottom: 15px;padding-right: 0; height: 350px;}
.wrapper-content .item .content {background-color: #fff;position: relative;padding-bottom: 15px; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2);}
.wrapper-content .item .content img{width: 100%; height: 200px; object-fit: cover;}
.wrapper-content .item .content .name{font-size: 15px;font-weight: 400;color: #5c5c5c;padding: 0 15px;margin-top: 10px}
.wrapper-content .item .content .price{font-size: 17px;color: #2a2a2a; padding-left: 15px; line-height: 25px; width: 50%; float: left;}
.wrapper-content .item .content .percent{position: absolute; right: 0; margin-top: 20px; width: 100px; font-size: 15px; background-color: #c9923d; color: #ffffff; text-align: center;}
.wrapper-content .item .content .price-before{left: 5%; margin-bottom: -10px; font-size: 17px; color: #9b9b9b;}
.wrapper-content .item .content:hover .fade {display: block;}
.wrapper-content .item .content .presence{font-size: 17px; right: 0; padding: 10px 15px; text-align: right; margin-top: 30px;}
.wrapper-content .item .content .in-stock {color: #1c7430;}
.wrapper-content .item .content .out-stock {color: #CC0000;}
.wrapper-content .item .content .country{font-size: 17px; right: 0; width: 50%; text-align: right; padding-right: 15px; padding-top: 5px; line-height: 15px; float: right;}
.wrapper-content .item .content .fade{text-align: center;position: absolute;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.3);
    display: none; opacity: 1;}
.wrapper-content .item .content .fade .buttons {position: absolute;top: 50%;-webkit-transform: translate(0%, -50%);-ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);width: 100%;}
.wrapper-content .item .content .fade .buttons a {text-decoration: none;color: #4e4e4e;display: inline-block;
    background-color: #fff;width: 155px;padding: 7px;}
.wrapper-content .item .content .fade .buttons a:last-child {margin-top: 5px;}
.wrapper-content .item .content .fade .buttons a:hover {background-color: #f9f9f9;}

.my-pagination {padding: 0 15px; margin-top: 40px;}
.my-pagination li {display: inline-block;}
.my-pagination li a{font-weight: 400;font-size: 15px;color: #5c5c5c;cursor: pointer;padding: 12px 18px;text-decoration: none;}
.my-pagination .active a{background-color: #f4f4f4;}
.my-pagination li a:hover {background-color: #f4f4f4;}
.my-pagination .next img{width: 6px; margin-bottom: 5px;}


@media only screen and (max-width:1399px){
    .wrapper-content .item .content .name {font-size: 13px;}
}

@media only screen and (max-width:991px){
    .wrapper-content .item .content .price {font-size: 13px;}
}

@media only screen and (max-width:767px){
    .wrapper-filter {display: none;}
    .np-right {padding: 0;}
    .np-left {padding: 0;}
    .np {padding: 0;}
    .my-pagination {text-align: center;}
    .wrapper-content .item .content {margin: 0 auto;max-width: 280px;}
    .wrapper-content .item {padding-right: 15px;}

    .scrat-box{height: 600px;}
	.scrat-box .scrat-box-images{margin-top: 20px;}
    .scrat-box .scrat-box-header{font-size: 24px;}
    .scrat-box .scrat-box-label{font-size: 16px; width: 90%; margin-left:5%; padding-bottom: 10px;}
    .scrat-box .mini-img {position: relative; display: block; margin-bottom: 20px; margin-left: 0; margin-right: 0; width: 50%; float: left;}

    .scrat-box .add-box-to-cart {height: 150px;}
    .scrat-box .add-box-to-cart-inner {margin-left: -125px;}
	.scrat-box .add-box-to-cart .add-to-cart-button{margin-top: 50px; margin-left: -270px;}
}

@media only screen and (max-width:425px){
    .main-block .sort {
        float: initial;
        margin-top: 30px;
        position: relative;
        display: inline-block;
        width: 100%;
    }
}

@media only screen and (max-width:991px){
    .scrat-box {padding-top: 50px; min-height: 300px;}
}

@media only screen and (max-width:650px){
    .scrat-box {padding-top: 100px; min-height: 350px;}
}
