	#map {width: 100%; height: 400px; margin-top: 40px; padding-right: 50px;}
	.ymaps-2-1-65-copyright__content-cell, .ymaps-2-1-65-map-copyrights-promo, .ymaps-2-1-65-copyright {display:none;}
	.popover-content {position: relative;border: none;background-color: #fdfdfd;color: #818181;font-size: 15px;padding: 3px;}
	.popover-body .popover-content{display: flex; align-items: center; justify-content: center;}
	.popover-body .popover-content:last-child{padding-bottom: 30px; border-radius: 0 0 10px 10px;}
	.popover-head .popover-content:first-child{border-radius: 10px 10px 0 0;}
	.popover-body .popover-content .shop-name {padding-top: 15px; color: #4e4e4e; font-weight: 500;}
	.popover-content .popover-cancel {padding-top: 10px; padding-right: 15px; }
	.popover-worktime {position: relative; display: inline-block; width: 45%; padding: 5px; margin-left: 25%; text-align: center; background-color: #FFBA37; color: #fdfdfd; font-size: 13px;}
	.popover-cancel img {position: relative; float: right; width: 13px; height: 13px; margin-top: 5px; opacity: 1;}
	.popover-cancel img:hover{opacity: 1;}
	.popover-arrow:after {content: ''; border: 13px solid transparent; border-top: 13px solid #fdfdfd; position: absolute; margin-left: 100px;}

	.help-block .shops-popup {display: none;}

	#shops-popup-modal {border-radius: 3px;background: #fff;position: relative; width: 90%; left:5%; margin: 100px auto;
		padding-top: 20px;padding-bottom: 30px;text-align: center;}

	#shops-popup-modal .content-shops {position: relative; padding-bottom: 15px; margin-top: 40px; text-align: left; padding-left: 50px;}
	#shops-popup-modal .mfp-close {right:20px; top: 15px;}
	#shops-popup-modal .mfp-close img{width: 20px;}

	#shops-popup-modal .shops-label {line-height: 20px; margin-bottom: 15px; font-weight: 400; font-size: 20px;}
	#shops-popup-modal .articule {color: #818181;font-weight: 300; font-size: 13px; margin-bottom: 15px;}
	#shops-popup-modal .shop {font-weight: 400; font-size: 15px; margin-bottom: 20px; cursor: pointer;}
	#shops-popup-modal .shop:hover { color: #c9923d;}
	#shops-popup-modal .not-selected {color: #818181;}
	#shops-popup-modal .selected {color: #c9923d;}
	#shops-popup-modal .line-block {line-height: 20px; float:none; margin: 0;}

	#shops-popup-modal .shop-choose {height: 40px; margin-bottom: 30px; margin-top: 50px; background-color: #5d5b5a; text-align: center; cursor: pointer;}
	#shops-popup-modal .shop-choose a{position: relative; color: #f9f9f9; top: 8px;}
	#shops-popup-modal .shop-choose:hover {background-color: #4a4a4a; color: #f9f9f9;}

	@media only screen and (max-width:1200px){
		#map { height: 350px; padding-left: 50px;}
		#shops-popup-modal .shops-label{font-size: 18px;}
		#shops-popup-modal .articule{font-size: 12px;}
		#shops-popup-modal .shop{font-size: 13px;}
	}

	@media only screen and (max-width:991px){
		#map{padding: 0;}
		#shops-popup-modal {max-height: 900px;}
		#shops-popup-modal .content-shops {text-align: center; padding-left: 15px;}

		#shops-popup-modal .shops-label{font-size: 22px;}
		#shops-popup-modal .articule{font-size: 14px;}
		#shops-popup-modal .shop{font-size: 15px;}
		
		#shops-popup-modal .shop-choose {margin: 0 auto; width: 200px;}
	}