#map {width: 100%;height: 500px;margin-top: 3px;}
.ymaps-2-1-65-copyright__content, .ymaps-2-1-65-map-copyrights-promo, .gotoymaps{display:none;}
.popover-content {position: relative;border: none;background-color: #fdfdfd;color: #818181;font-size: 15px;padding: 3px;}
.popover-body .popover-content{display: flex; align-items: center; justify-content: center;}
.popover-body .popover-content:last-child{padding-bottom: 30px; border-radius: 0 0 10px 10px;}
.popover-head .popover-content:first-child{border-radius: 10px 10px 0 0;}
.popover-body .popover-content .shop-name {padding-top: 15px; color: #4e4e4e; font-weight: 500;}
.popover-content .popover-cancel {padding-top: 10px; padding-right: 15px; }
.popover-worktime {position: relative; display: inline-block; width: 45%; padding: 5px; margin-left: 25%; text-align: center; background-color: #FFBA37; color: #fdfdfd; font-size: 13px;}
.popover-cancel img {position: relative; float: right; width: 13px; height: 13px; margin-top: 5px; opacity: 1;}
.popover-cancel img:hover{opacity: 1;}
.popover-arrow:after {content: ''; border: 13px solid transparent; border-top: 13px solid #fdfdfd; position: absolute; margin-left: 100px;}

@media only screen and (max-width:991px){
    .main-block {padding-top: 50px;}
}

@media only screen and (max-width:650px){
    .main-block {padding-top: 100px;}
}
