@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body{font-size: 14px;min-width: 320px;position: relative;line-height: 1.75;font-family: "Roboto", sans-serif;font-weight: normal;opacity: 1;overflow-x: hidden;overflow-y: auto;
    color: #000;margin: 0}
ul {padding-left: 0;margin: 0;}

.np-right {padding-right: 0;}
.np-left {padding-left: 0;}
.np {padding: 0;}

.text-center {text-align: center}.text-left {text-align: left}.text-right {text-align: right}

.my-help-block {padding: 8px 0; margin: 0;}
.my-help-block .phone {display: inline-block;}
.my-help-block .phone img{width: 15px;}
/*.my-help-block .login, .my-help-block .signup  {display: inline-block; margin-left: 45px;}*/
/*.my-help-block .login a, .my-help-block .signup a{color: #818181; text-decoration: none; position: relative; top: 2px; font-size: 13px;}*/
.my-help-block .cart {display: inline-block;}
.my-help-block .cart img{width: 23px;}
.my-help-block .cart .items-count {
    position: absolute; margin-top: -30px; margin-left: 15px; width: 1em; height: 1em;
    background: #c9923d; border: 0.1em solid #c9923d; color: #fff; text-align: center; border-radius: 50%;
    line-height: 1em; box-sizing: content-box;
}
.my-help-block .help {display: inline-block; margin-left: 10px; position: relative;}
.my-help-block .login-buttons {display: inline-block; margin-left: 0;}
.my-help-block .help a, .my-help-block .login-buttons a{color: #818181; text-decoration: none; position: relative; padding: 10px; font-size: 13px;}
.my-help-block .help:hover .wrapper-drop, .my-help-block .login-buttons:hover .wrapper-drop{display: block;}

.help .wrapper-drop {position: absolute; right: 0; top: 21px; padding-top: 13px; z-index: 10; display: none;}
.login-buttons .wrapper-drop {position: absolute; right: 0; top: 30px; padding-top: 13px; z-index: 10; display: none;}
.help-down {text-align: left;width: 200px;background-color: #fff;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.help-down a{color: #818181;text-decoration: none;display: block;}
.help-down a:hover{background-color: #f9f9f9}

.nav {padding-top: 15px;}
.nav .logo{padding: 0;}
.nav .logo img {max-width:190px; width: 100%;}
.nav .menu {padding: 0;}
.nav .menu ul {margin-top: 10px;padding-bottom: 20px;position: relative;}
.nav .menu ul li {display: inline-block;padding-right: 22px;line-height: 15px}
.nav .menu ul li .drop {position: absolute;width: 725px;z-index: 1000;left: 0;right: 0;margin: 0 auto;padding-top: 25px;display: none;}
.nav .menu ul li .drop .items{background-color: #fdfdfd;width: 100%;overflow: hidden;padding-top: 20px;
        padding-bottom: 7px;padding-left: 30px;padding-right: 0;}
.nav .menu ul li:first-child:hover .drop{display: block;}
.nav .menu ul li:last-child {padding-right: 0;}
.nav .menu ul li a{color: #52504f;font-size: 15px;text-decoration: none;position: relative;}
.nav .menu ul li:hover a::after, .nav .menu .active a::after{content: ''; height: 4px; width: 100%; background-color: #52504f; position: absolute; left: 0; right: 0; bottom: -25px;}

.nav .menu .items .name {text-transform: uppercase;font-size: 13px;color: #52504f;font-weight: 500;padding-bottom: 10px; cursor: pointer;}
.nav .menu .items ul {margin: 0;padding-bottom: 0}
.nav .menu .items ul li {display: block;}
.nav .menu .items .li-name ul {display: none;}
.nav .menu .items .li-name .active {display: block;}
.nav .menu .items .li-name ul li {display: block; list-style: none; padding-bottom: 13px;}
.nav .menu .items .li-name .name a{font-size: 12px;}
.nav .menu .items .li-name .name a:hover{color: #c9923d;}
.nav .menu .items .li-name .name a::after{content: none;}
.nav .menu .items ul li ul li a{font-size: 12px;color: #747474;}
.nav .menu .items ul li ul li a::after{content: none;}
.nav .menu .items ul li ul li a:hover{color: #c9923d}
.nav .search {transition: position 0.5s linear, left 0.5s ease;}
.nav .search form {position: relative; display: inline-block; width: 100%; top: 6px;}
.nav .search input{border: 1px solid #e7e7e7;border-radius: 3px;width: 100%;padding-left: 30px;}
.nav .search input:focus{outline: none !important;border:1px solid #c9923d;}
.nav .search button {border: none;background: transparent;outline: none; position: absolute;}
.nav .search button img{width: 13px;position: absolute;left: 10px;top: 8px;}
.nav .search .search-close {position: absolute; right: 10px; top: -1px; font-size: 18px; color: #818181; cursor: pointer; display: none;}
.nav .my-help-block {padding-right: 0;}

#container {position: fixed; top: 20px; left: 10px; z-index: 20000; display: none;}
#container button {border: none; outline: none; background-color: transparent; padding-top: 8px; padding-right: 8px; padding-left: 8px; padding-bottom: 3px;}
#container button span {background-color: #52504f; display: block;width: 40px; border-radius: 50px; height: 3px; margin-bottom: 5px;}

@media only screen and (max-width:991px){
    .fixed-nav {position: fixed; z-index: 1000; background-color: #fff; width: 100%; margin-top: -2px; padding-bottom: 10px;}
    #container {display: block;}
}

.site-about { padding-top: 50px; padding-bottom: 100px; }

.footer {background-color: #413d38;padding-top: 30px;padding-bottom: 10px;}
.footer .content {overflow: hidden;}
.footer .content .item {padding-left: 80px;}
.footer .title{color: #fff;font-weight: 500;font-size: 14px;margin-bottom: 15px;}
.footer .info{color: #fff;font-size: 14px;margin-bottom: 15px;}
.footer .info a{color: #fff;text-decoration: none;}
.footer .info a:hover{color: #c9923d;}
.footer .menu ul li {list-style: none;margin-bottom: 15px;}
.footer .menu ul li a{font-size: 14px;color: #fff; text-decoration: none;}
.footer .menu ul li a:hover{color: #c9923d;}
.footer .socials {margin-bottom: 15px;}
.footer .socials ul li {display: inline-block;padding-right: 18px;}
.footer .socials ul li img:hover{filter: invert(0.5) sepia(1) saturate(5);}
.footer .socials ul li:last-child {padding-right: 0;}
.footer .separator {display: none;}
.footer .seo-text {color: #aea8a1;margin-top: 10px;margin-bottom: 30px;padding-right: 100px;}
.footer .webpay {text-align: center;}
.footer .webpay .pay-types {width: 650px; height: 50px;}
.footer .webpay .erip {width: 80px; height: 50px;}

#phones-modal {border-radius: 3px;background: #fff;position: relative;max-width: 420px;margin: 150px auto;padding-top: 20px;padding-bottom: 30px;width: 100%;text-align: center;}
#phones-modal .title{color: #52504f;font-size: 33px;margin-top: 10px;margin-bottom: 20px;}
#phones-modal a {color: #52504f;font-size: 17px;margin: 0;margin-bottom: 5px;}

#signup-modal, #login-modal {background: #fff;position: relative;max-width: 420px;margin: 100px auto;width: 100%;text-align: center;border-radius: 3px;}
#signup-modal form, #login-modal form {padding: 0 40px;padding-top: 20px;padding-bottom: 55px;}
#signup-modal .title, #login-modal .title{color: #52504f;font-size: 33px;margin-top: 10px;margin-bottom: 20px;}
#signup-modal ul li, #login-modal ul li {display: inline-block;padding-right: 10px;}
#signup-modal ul li:last-child, #login-modal ul li:last-child {padding-right: 0;}
#signup-modal ul li a, #login-modal ul li a{width: 95px;height: 35px;border-radius: 4px;display: inline-block;}
#signup-modal ul li .twitter, #login-modal ul li .twitter {background-color: #00ade4;background-image: url(../img/icons/socials/twitter.svg);background-position: center;background-repeat: no-repeat;    background-size: 20px;}
#signup-modal ul li .facebook, #login-modal ul li .facebook {background-color: #184288;background-image: url(../img/icons/socials/fb.svg);background-position: center;background-repeat: no-repeat;    background-size: 10px;}
#signup-modal ul li .google, #login-modal ul li .google {background-color: #dd4b39;background-image: url(../img/icons/socials/g.svg);background-position: center;background-repeat: no-repeat;    background-size: 24px;}
#signup-modal .or, #login-modal .or {color: #999999;font-weight: 300;font-size: 16px;margin: 10px 0;}
#signup-modal input, #login-modal input {width: 100%;margin-bottom: 0;border-radius: 3px;border: 1px solid #f3f3f3;padding: 5px 15px;}
#signup-modal input:focus, #login-modal input:focus {outline: none !important;border:1px solid #c9923d;}
#signup-modal .create, #login-modal .create {background-color: #fafafa;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;padding: 15px 0;}
#signup-modal .create a, #login-modal .create a {font-size: 16px;color: #777777;text-decoration: none;}

#signup-modal input[placeholder], #login-modal input[placeholder] {font-size: 13px;font-weight: 300;}
#signup-modal input::-moz-placeholder, #login-modal input::-moz-placeholder {font-size: 13px;font-weight: 300;}
#signup-modal input:-moz-placeholder, #login-modal input:-moz-placeholder {font-size: 13px;font-weight: 300;}
#signup-modal input:-ms-input-placeholder, #login-modal input:-ms-input-placeholder {font-size: 13px;font-weight: 300;}

#signup-modal .my-send, #login-modal .my-send {color: #fff;width: 100%;font-size: 16px;font-weight: 300;background-color: #4b4b4b;
    border-radius: 3px;border: none;padding: 6px 0;margin-top: 5px;}

#signup-form {display: none;}

#client-modal {border-radius: 3px;background: #fff;position: relative; max-width: 1200px; margin: 100px auto; padding-top: 20px; padding-bottom: 100px; width: 100%;}
#client-modal .title{color: #52504f; font-size: 33px; margin-top: 10px; margin-bottom: 20px;}

.client-popup-img img{width: 300px;  float: left; margin-top: 40px; margin-left: 50px;}
.client-popup-text{position: relative; margin-left: 40%; width: 60%;}

.client-head{font-size: 19px;font-weight: 500;color: #4e4e4e; position: relative; margin-top: 40px; margin-bottom: 30px;}
.client-text{margin-right: 30px; color: #52504f;}

.client-buttons{position: relative; margin: 30px 30px 0 0;}
.client-button{position: relative;}
.client-button a{white-space: nowrap; cursor:pointer; font-size: 17px; color: #5d5b5a;  font-weight: 500; background-color: #ffffff;
    border: 2px solid #efefef; box-sizing: border-box;  padding: 20px 20px; text-align: left;
    line-height: 13px;text-decoration: none; border-radius: 3px; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2); }
.client-button a:hover{color: #c9923d; text-decoration: none !important; border:2px solid #c9923d;}
.client-button img{height: 16px; margin-left: 0; text-align:right; }
.client-button .arrow-img{float: right;}


/* for map, make it grey */
[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}


/*-------------------------
	Inline help tip
--------------------------*/


.help-password-tip{
    position: relative;
    bottom: 45px;
    left: 90%;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    cursor: default;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2);
}

.help-password-tip:before{
    content:'?';
    color:#999;
}

.help-password-tip:hover p{
    display:block;
    transform-origin: 100% 0;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-password-tip p{
    display: none;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    width: 200px;
    position: relative;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    margin-top: -45px;
    color: #999;
    font-size: 14px;
    line-height: 1.5;
}

.help-password-tip a {
    color: #c9923d;
}

.help-password-tip p:before{
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-right-color:#fff;
    left:-12px;
    top:25px;
}

.help-password-tip p:after{
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*-----------------------------------*/

.autocomplete {background-color: #fff; position: absolute; text-align: left; display: none; height: 250px; overflow: auto;
    top: 28px;left: 0;z-index: 1000; width: 100%;}
.autocomplete a{display: flex; padding: 20px 10px 20px 10px; font-size: 14px;
    text-decoration: none; line-height: 15px;}
.autocomplete a:hover {background-color: #f4f4f4;}
.autocomplete a span {display: inline-block; color: #333; font-weight: normal;}
.autocomplete a .country {display: inline-block; color: #999999; font-weight: normal;}

.mfp-close {width: 25px; margin-top: 20px; margin-right: 20px; cursor: pointer;}

@media (min-width: 1400px){
    .container {
        width: 1340px;
    }
}

@media only screen and (max-width:1399px){
    .footer .seo-text {padding-right: 15px;}
}

@media only screen and (max-width:1199px){
    .nav .menu ul li a {font-size: 14px;}
    .nav .menu ul {margin-top: 8px;}
    /*.my-help-block .login, .my-help-block .signup  {margin-left: 15px;}*/
    .my-help-block .login-buttons, .my-help-block .help {margin-left: 0;}
    .my-help-block .help a, .my-help-block .login-buttons a {padding: 5px;}
    .footer .content .item {padding-left: 15px;}
    .footer .seo-text {padding-right: 65px;}
}

@media only screen and (max-width:991px){
    .nav .logo {text-align: right;}
    .search .wrapper-form {text-align: left;}
    .nav .menu {display: none;}
    .footer .separator {display: block;}
    .nav .login-buttons .wrapper-drop {left: 90px;}
    .client-popup-img img{width: 230px;  margin-top: 140px;}
    #client-modal {padding-bottom: 150px;}
    .site-about {padding-top: 100px;}
}

@media only screen and (max-width:767px){
    .nav .logo {text-align: right; margin-bottom: 15px; padding-right: 15px; padding-left: 15px;}
    .nav .search .wrapper-form {text-align: center;}
    .nav .my-help-block .text-left{text-align: center;}
    .nav .search {right: 40%;}
    .nav .my-help-block {right: 40%;}
    .nav .login-buttons .wrapper-drop {left: 350px;}
    .nav .help .wrapper-drop {left: -20px; padding-top: 5px;}

    .footer .content {text-align: center;}
    .footer .seo-text {padding-right: 15px; font-size: 12px;}

    .client-popup-img img{width: 300px;  margin: 30px auto 20px; float: none;}
    .client-popup-text{margin-left: 5%; width: 90%; text-align: center;}
    .client-popup-img{text-align: center;}

    .help-password-tip p {margin-top: 0; margin-left: -170px;}

    .help-password-tip p:before{display: none;}

    .footer .webpay .pay-types {width: 100%; height: 30px;}
    .footer .webpay .erip {width: 40px; height: 30px;}
    .footer .info{font-size: 12px;}
}

@media only screen and (max-width:650px) {
    .my-help-block .cart {position: absolute; right: 0; margin-right: -40%;}
    .nav .logo {width: 100%; left: 0;}
    #container {top: 60px;}
    .nav .search {width: 10%; left: 70%; right: 0;}
    .nav .my-help-block {width: 50%; right: -15%;}
    .my-help-block .help a, .my-help-block .login-buttons a {font-size: 14px;}
    .site-about {padding-top: 150px;}
}

@media only screen and (max-width:550px) {
    .nav .login-buttons .wrapper-drop {left: 60px; padding-top: 10px;}
}

@media only screen and (max-width:425px){
    #signup-modal ul li a{width: 60px;}
    .client-popup-img img{width: 200px;}
    .nav .search button img{left: 0;}
}